<li class="nav-item dropdown {% if ((app.request.get('_route') == 'worker_item_index') or (app.request.get('_route') == 'worker_suggested_items_index')) %}active{% endif %}">
<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="oi oi-spreadsheet"></span>
	{{'worker.menubar.dropdown01.title' | trans}}</a>
	<div class="dropdown-menu" aria-labelledby="dropdown01">
<a class="dropdown-item " href="{{ path('worker_item_index')}}">
	<span class="oi oi-spreadsheet"></span>
	{{'worker.menubar.dropdown01.select_items' | trans}}</a>

<a class="dropdown-item " href="{{ path('worker_suggested_items_index')}}">
	<span class="oi oi-lightbulb"></span>
	{{'worker.menubar.dropdown01.suggested_items' | trans}}</a>

	</div>
</li>


<li class="nav-item dropdown  {% if ((app.request.get('_route') == 'extra_item') or (app.request.get('_route') == 'worker_item_edit_index')) %}active{% endif %}">
<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="oi oi-dashboard"></span>
	{{'worker.menubar.dropdown02.title' | trans}}</a>

	<div class="dropdown-menu" aria-labelledby="dropdown02">
<a class="dropdown-item " href="{{ path('worker_item_edit_index')}}">
	<span class="oi oi-pencil"></span>
	{{'worker.menubar.dropdown02.edit_item' | trans}}</a>

<a class="dropdown-item " href="{{ path('extra_item')}}">
	<span class="oi oi-plus"></span>
	{{'worker.menubar.dropdown02.extra_items' | trans}}</a>

	</div>
</li>


<li class="nav-item dropdown {% if ((app.request.get('_route') == 'worker_catalogue_index') or (app.request.get('_route') == 'worker_catalogue_new')) %}active{% endif %}">
<a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="oi oi-book"></span>
	{{'worker.menubar.dropdown03.title' | trans}}</a>

	<div class="dropdown-menu" aria-labelledby="dropdown03">
<a class="dropdown-item " href="{{ path('worker_catalogue_index')}}">
	<span class="oi oi-list"></span>
	{{'worker.menubar.dropdown03.list' | trans}}</a>

<a class="dropdown-item " href="{{ path('worker_catalogue_new')}}">
	<span class="oi oi-file"></span>
	{{'worker.menubar.dropdown03.import_catalogue' | trans}}</a>

	</div>
</li>


<li class="nav-item {% if app.request.get('_route') == 'sharing_proposal_index' %}active{% endif %}">
	<a class="nav-link  " href="{{ path('sharing_proposal_index')}}">
	<span class="oi oi-pie-chart"></span>
	{{'worker.menubar.shareingproposal_basket' | trans}}

		{% if ((distribution is defined) and (distribution is not null))  %}
		<span id="worker__sharingProposal__count" class="badge badge-light">{{ countSharingProposalItems(distribution.id) }}</span>
		{% endif %}
	</a>
</li>
