{% extends 'base.html.twig' %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block body %}
	<div class="container">

		<h1 class="display-1">
			¯\_(ツ)_/¯
		</h1>
		<br>
		<h1 class="display-5">
		{{'worker.no_distribution.no_distribution' | trans}}</h1>

	</div>

{% endblock %}
