{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block menubar %}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('shop_item_index')}}">Retour</a>
	</li>
{% endblock %}


{% block body %}

	<div class="container">

		<h1>
			Aide
		</h1>

		<div class="list-group">

			<a href="{{path('help_user')}}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Profil utilisateur</h5>
				</div>
				<p class="mb-1">Obtenir de l'aide pour gérer son profil.</p>
			</a>

			<a href="{{path('help_shop')}}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Commande individuelle</h5>
				</div>
				<p class="mb-1">Obtenir de l'aide pour passer sa commande.</p>
			</a>

			<a href="{{path('help_worker')}}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Proposition de partage</h5>
				</div>
				<p class="mb-1">Obtenir de l'aide pour gérer la proposition de partage.</p>
			</a>

			<a href="{{path('help_manager')}}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Poste de commande &amp; Coordination</h5>
				</div>
				<p class="mb-1">Obtenir de l'aide pour le poste de commande ou de coordination.</p>
			</a>

			<a href="{{path('help_admin')}}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">Administrateur</h5>
				</div>
				<p class="mb-1">Obtenir de l'aide pour l'administration.</p>
			</a>

		</div>


	</div>


{% endblock %}
