{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block menubar %}
	<li class="nav-item">
<a class="nav-link" href="{{ path('help')}}">Retour</a>

	</li>
{% endblock %}


{% block body %}

<div class="container">

<h1>
	Poste de Commande &amp; Coordination
</h1>



<div class="row my-4">

	<div class="col-3">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-menu-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-menu" aria-selected="true">Présentation Générale</a>
			<a class="nav-link" id="v-pills-catalogue-tab" data-toggle="pill" href="#v-pills-catalogue" role="tab" aria-controls="v-pills-catalogue" aria-selected="true">Gestion des catalogues</a>
			<a class="nav-link" id="v-pills-item-tab" data-toggle="pill" href="#v-pills-item" role="tab" aria-controls="v-pills-item" aria-selected="false">Gestion des articles</a>
			<a class="nav-link" id="v-pills-distribution-tab" data-toggle="pill" href="#v-pills-distribution" role="tab" aria-controls="v-pills-distribution" aria-selected="false">Gestion des distributions</a>
			<a class="nav-link" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">Gestion des membres</a>
		</div>
	</div>
	<div class="col-9">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-menu-tab">{{include('help/manager/general/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-catalogue" role="tabpanel" aria-labelledby="v-pills-catalogue-tab">{{include('help/manager/catalogues/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-distribution" role="tabpanel" aria-labelledby="v-pills-distribution-tab">{{include('help/manager/distributions/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">{{include('help/manager/users/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-item" role="tabpanel" aria-labelledby="v-pills-item-tab">{{include('help/manager/items/_index.html.twig')}}</div>

		</div>
	</div>
</div>

</div>
</div>{% endblock %}

