{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block menubar %}
	<li class="nav-item">
<a class="nav-link" href="{{ path('help')}}">Retour</a>

	</li>
{% endblock %}


{% block body %}

<div class="container">

<h1>Commande individuelle</h1>

<div class="row my-4">
	<div class="col-3">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-menu-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-menu" aria-selected="true">Présentation Générale</a>
			{# <a class="nav-link" id="v-pills-add-tab" data-toggle="pill" href="#v-pills-add" role="tab" aria-controls="v-pills-add" aria-selected="true">Ajouter au panier</a> #}
			<a class="nav-link" id="v-pills-bookmark-tab" data-toggle="pill" href="#v-pills-bookmark" role="tab" aria-controls="v-pills-bookmark" aria-selected="false">Favoris</a>
			<a class="nav-link" id="v-pills-suggestion-tab" data-toggle="pill" href="#v-pills-suggestion" role="tab" aria-controls="v-pills-suggestion" aria-selected="false">Suggestion d'articles</a>
			<a class="nav-link" id="v-pills-extra-tab" data-toggle="pill" href="#v-pills-extra" role="tab" aria-controls="v-pills-extra" aria-selected="false">Articles Extra</a>
			<a class="nav-link" id="v-pills-basket-tab" data-toggle="pill" href="#v-pills-basket" role="tab" aria-controls="v-pills-basket" aria-selected="false">Panier</a>
			<a class="nav-link" id="v-pills-order-tab" data-toggle="pill" href="#v-pills-order" role="tab" aria-controls="v-pills-order" aria-selected="false">Bon de commande</a>

		</div>
	</div>
	<div class="col-9">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-menu-tab">{{include('help/shop/general/_index.html.twig')}}</div>
			{# <div class="tab-pane fade" id="v-pills-add" role="tabpanel" aria-labelledby="v-pills-add-tab">aaa</div> #}
			<div class="tab-pane fade" id="v-pills-bookmark" role="tabpanel" aria-labelledby="v-pills-bookmark-tab">{{include('help/shop/bookmark/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-suggestion" role="tabpanel" aria-labelledby="v-pills-suggestion-tab">{{include('help/shop/suggestion/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-extra" role="tabpanel" aria-labelledby="v-pills-extra-tab">{{include('help/shop/extra/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-basket" role="tabpanel" aria-labelledby="v-pills-basket-tab">{{include('help/shop/basket/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">{{include('help/shop/order/_index.html.twig')}}</div>
		</div>
	</div>
</div>
</div>{% endblock %}

