{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block menubar %}
	<li class="nav-item">
<a class="nav-link" href="{{ path('help')}}">Retour</a>

	</li>
{% endblock %}


{% block body %}

<div class="container">

<h1>Profil utilisateur</h1>

<div class="row my-4">
	<div class="col-3">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-credentials-tab" data-toggle="pill" href="#v-pills-credentials" role="tab" aria-controls="v-pills-credentials" aria-selected="true">Gestion des identifiants</a>
		</div>
	</div>
	<div class="col-9">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-credentials" role="tabpanel" aria-labelledby="v-pills-credentials-tab">{{include('help/user/credentials/_index.html.twig')}}</div>
		</div>
	</div>
</div>
</div>{% endblock %}

