{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block menubar %}
	<li class="nav-item">
<a class="nav-link" href="{{ path('help')}}">Retour</a>

	</li>
{% endblock %}


{% block body %}

<div class="container">

	<h1>Proposition de partage</h1>
	
	<div class="row my-4">

	<div class="col-3">
		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="v-pills-menu-tab" data-toggle="pill" href="#v-pills-menu" role="tab" aria-controls="v-pills-menu" aria-selected="true">Présentation Générale</a>
			<a class="nav-link" id="v-pills-catalogue-tab" data-toggle="pill" href="#v-pills-catalogue" role="tab" aria-controls="v-pills-catalogue" aria-selected="false">Gestion des catalogues</a>
			<a class="nav-link" id="v-pills-item-tab" data-toggle="pill" href="#v-pills-item" role="tab" aria-controls="v-pills-item" aria-selected="false">Modifier un article</a>
			<a class="nav-link" id="v-pills-extra-tab" data-toggle="pill" href="#v-pills-extra" role="tab" aria-controls="v-pills-extra" aria-selected="false">Articles Extra</a>
			<a class="nav-link" id="v-pills-suggest-tab" data-toggle="pill" href="#v-pills-suggest" role="tab" aria-controls="v-pills-suggest" aria-selected="false">Suggestion de partage</a>
			<a class="nav-link" id="v-pills-sharingproposal-tab" data-toggle="pill" href="#v-pills-sharingproposal" role="tab" aria-controls="v-pills-sharingproposal" aria-selected="false">Proposition de partage</a>
		</div>
	</div>
	<div class="col-9">
		<div class="tab-content" id="v-pills-tabContent">
			<div class="tab-pane fade show active" id="v-pills-menu" role="tabpanel" aria-labelledby="v-pills-menu-tab">{{include('help/worker/general/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-catalogue" role="tabpanel" aria-labelledby="v-pills-catalogue-tab">{{include('help/worker/catalogues/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-item" role="tabpanel" aria-labelledby="v-pills-item-tab">
				Seul le menu d'accès est différent du poste de commande. Se rendre dans dans "Gestion des articles ↳ Édition des articles".
				<br>
				<a href="{{path('help_manager_item_edit')}}">Modifier un article</a>
			</div>
			<div class="tab-pane fade" id="v-pills-extra" role="tabpanel" aria-labelledby="v-pills-extra-tab">
				Consultez l'aide générale pour les articles extra. Le poste de partage peut néanmoins modifier les articles extra, ce qu'un simple utilisateur ne peut pas faire.
				<br><br>
				<a href="{{path('help_shop_extra_add')}}">Articles extra</a>
			</div>
			<div class="tab-pane fade" id="v-pills-suggest" role="tabpanel" aria-labelledby="v-pills-suggest-tab">{{include('help/worker/selection/_index.html.twig')}}</div>
			<div class="tab-pane fade" id="v-pills-sharingproposal" role="tabpanel" aria-labelledby="v-pills-sharingproposal-tab">{{include('help/worker/sharing_proposal/_index.html.twig')}}</div>
		</div>
	</div>
</div>
</div>{% endblock %}

