{% block dropboxFile_row %}
	<div class="row" style="height: 5px;"></div>
	{# Dirty workaround to align vertically both dropboxFile and spreadsheet #}
	<div id="dropbox_container"></div>
	{{ form_row(form.dropboxFileName, { 'id': 'catalogue_dropboxFile'}) }}
	{{ form_row(form.dropboxFileLink, { 'id': 'catalogue_dropboxFileLink'}) }}
{% endblock %}
