<span class="dropdown-header">{{number}} actions</span>

{% for entry in entries %}
	<div class="dropdown-divider"></div>
	<div class="dropdown-item" style="word-break:normal; white-space: normal;">
		{{entry.context | getIcon | raw}}
		{{entry | getMessage | raw}}
		<span class="text-right text-muted text-sm" style="display:block;">
			{{entry.createdAt|ago}} par {{entry.user}}
		</span>
	</div>
{% endfor %}