{% set submit_message = 'admin.user.delete.message' | trans %}

<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger mr-1">
	    <i class="fas fa-trash-alt"></i>
	    {{'common.buttons.delete' | trans}}
    </button>
</form>
