<div class="card card-light">
	<div class="card-header">
		<h3 class="card-title">Informations</h3>
	</div>
	<div class="card-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {% if editMessage is defined  %}
        <div class="alert alert-danger my-1" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
        	{{editMessage}}
        </div>
        {% endif %}
	</div>
	<!-- /.card-body -->
    <div class="card-footer">
        <div class="row">
            <button class="btn btn-primary">
	            <i class="fas fa-save"></i>
	            {{ button_label|default('common.buttons.save' | trans) }}
            </button>
            {{ form_end(form) }}
            <a class="btn btn-secondary mx-1" href="{{ path('user_index') }}">
            	<i class="fas fa-undo"></i>
            	{{'common.buttons.back' | trans}}
            </a>
        	{% if deleteButton is defined  %}
                {{ include('admin/user/_delete_form.html.twig') }}
        	{% endif %}
        </div>
    </div>
</div>
