{% if user.status is constant( 'STATUS_ACTIVE', user) %}
	<button type="button" disabled class="btn btn-outline-success btn-block">{{ user.Status | getUserStatus }}</button>
{% elseif  user.status is constant( 'STATUS_WAITING_APPROVAL', user) %}
	<button type="button" disabled class="btn btn-outline-warning btn-block">{{ user.Status | getUserStatus }}</button>
{% elseif  user.status is constant( 'STATUS_DELETED', user) %}
	<button type="button" disabled class="btn btn-outline-danger btn-block">{{ user.Status | getUserStatus }}</button>
{% elseif  user.status is constant( 'STATUS_INACTIVE', user) %}
	<button type="button" disabled class="btn btn-outline-info btn-block">{{ user.Status | getUserStatus }}</button>
{% else %}
	<button type="button" disabled class="btn btn-outline-dark btn-block">{{ user.Status | getUserStatus }}</button>
{% endif %}
