{% extends 'dashboard.html.twig' %}

{% form_theme form.username 'customizingForms/alias.html.twig' %}


{% block title %}
	{{'admin.user.edit.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.user.edit.title' | trans}}
{% endblock %}


{% block body %}

	{{ include('admin/user/_form.html.twig', {
		'button_label': 'common.buttons.update' | trans, 
		'deleteButton': true,
		'editMessage' : 'admin.user.edit.message' | trans,
		}) }}
{% endblock %}
