{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'admin.user.index.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.user.index.title' | trans}}
{% endblock %}


{% block body %}


	<div class="card">
		<div class="card-body p-0">
			<table class="table table-striped">
				<thead>
					<tr>
						<th style="width: 10px">#</th>
						<th>{{'admin.user.listing.username' | trans}}</th>
						<th>{{'admin.user.listing.email' | trans}}</th>
						<th style='text-align:center'>{{'admin.user.listing.status' | trans}}</th>
						<th style="width: 140px">{{'admin.user.listing.actions' | trans}}</th>


					</tr>
				</thead>
				<tbody>
					{% for user in users %}
						{# Do not display deleted users for coordinator, only for admin #}
						{% if  not (is_granted('ROLE_COORDINATOR')  and (user.status is constant('STATUS_DELETED', user))) %}
							<tr>
								<td>{{ user.id }}</td>
								<td>{{ user.username }}</td>
								<td>{{ user.email }}</td>
								<td>
									{{ include('admin/user/_status_button.html.twig') }}
								</td>
								<td>
									<div class="row">
										<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('user_show', {'id': user.id}) }}">
											<i class="fas fa-eye"></i>
										</a>
										<a class="btn btn-primary mr-1  {% if (user.status is constant('STATUS_DELETED', user)) %} disabled {% endif %}" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('user_edit', {'id': user.id}) }}">
											<i class="fas fa-user-edit"></i>
										</a>
										{% if user.status is constant( 'STATUS_WAITING_APPROVAL', user) %}
											{{ include('admin/user/_approve_form.html.twig') }}
										{% endif %}
									</div>
								</td>
							</tr>
						{% endif %}
					{% else %}
						<tr>
							<td colspan="7">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.new' | trans}}" href="{{ path('user_new') }}">
				<i class="fas fa-user-plus"></i>
			</a>
		</div>
	</div>

	


{% endblock %}
