{% extends 'dashboard.html.twig' %}

{% form_theme form.username 'customizingForms/alias.html.twig' %}

{% block title %}{{'admin.user.new.page_title' | trans}}{% endblock %}

{% block pageTitle %}
	{{'admin.user.new.title' | trans}}
{% endblock %}


{% block body %}

	{% include('admin/user/_form.html.twig') %}

{% endblock %}
