{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'admin.user.show.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.user.show.title' | trans}}
{% endblock %}


{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Informations</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body p-0">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ user.id }}</td>
					</tr>
					<tr>
						<th>{{'admin.user.listing.email' | trans}}</th>
						<td>{{ user.email }}</td>
					</tr>
					<tr>
						<th>{{'admin.user.listing.roles' | trans}}</th>
						<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					</tr>
					<tr>
						<th>{{'admin.user.listing.username' | trans}}</th>
						<td>{{ user.username }}</td>
					</tr>
					<tr>
						<th>{{'admin.user.listing.status' | trans}}</th>
						<td>{{ user.Status | getUserStatus }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<div class="row">
				<a class="btn btn-secondary mr-1" href="{{ path('user_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans}}</a>
				<a class="btn btn-primary mr-1" href="{{ path('user_edit', {'id': user.id}) }}">
					<i class="fas fa-user-edit"></i>
					{{'common.buttons.edit' | trans}}</a>
				{# Delete button only for normal users #}
				{% if hasOnlyUserRole(user) and (user.status is not constant('STATUS_DELETED', user)) %}
					{{ include('admin/user/_delete_form.html.twig') }}
				{% endif %}
			</div>
		</div>
	</div>	

{% endblock %}
