<div class="list-group">

	<a href="{{path('help_worker_sharingproposal_interface')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">L'Interface</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide sur le formulaire de la proposition de partage</p>
	</a>

	<a href="{{path('help_worker_sharingproposal_erros')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Erreurs de validation</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide sur les erreurs remontées par le formualaire</p>
	</a>

<a href="{{path('help_worker_sharingproposal_finish')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Finaliser la proposition</h5>
	</div>
	<p class="mb-1">Obtenir de l'aide sur la finalisation de la proposition</p>
</a>


</div>
