{% extends 'base.html.twig' %}

{% block title %}Aide - Proposition de partage
{% endblock %}

{% block menubar %}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('help_worker')}}">Retour</a>

	</li>
{% endblock %}


{% block body %}

	<div class="container">

		{{ include('help/worker/sharing_proposal/errors.md')|markdown_to_html }}

	</div>
</div>{% endblock %}
