{% set submit_message = 'shop.basket_order.delete.message' | trans %}

<form method="post" action="{{ path('order_delete', {'id': order.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn btn-danger">
        <span class="oi oi-trash"></span>
        {{'common.buttons.delete' | trans}}
    </button>
</form>
