<form method="post" action="{{ path('order_edit', {'id': order.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ order.id) }}">
    <button class="btn btn-primary">
	    <span class="oi oi-pencil"></span>
	    {{'common.buttons.edit' | trans}}
    </button>
</form>
