{% set catalogueNamesForIndividual = [] %}
{% for product in order.product %}
	{% set catalogueNamesForIndividual = getCatalogueNames( catalogueNamesForIndividual, product, constant( 'ORDERORIGIN_INDIVIDUAL', product)) %}
{% endfor %}


<div class="tableFixHead">
	<table class="table table-card mt-0">

		<thead class="thead-dark">
			<tr>
				<th {#class="text-center"#}>{{'common.listing.reference' | trans}}</th>
				<th {#class="text-center"#}>{{'common.listing.brand' | trans}}</th>
				<th {#class="text-center"#}>{{'common.listing.packaging' | trans}}</th>
				<th {#class="text-center"#}>{{'common.listing.packing' | trans}}</th>
				<th {#class="text-right"#}>{{'common.listing.unitary_price' | trans}}</th>
				<th class="text-center">{{'common.listing.unit' | trans}}</th>
				<th class="text-center">{{'common.listing.quantity' | trans}}</th>
				<th class="text-center">{{'common.listing.pre_order' | trans}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for catalogue in catalogueNamesForIndividual %}
				{% for product in order.product %}
					{% if product.orderOrigin is constant( 'ORDERORIGIN_INDIVIDUAL', product) %}
						{% if product.item.catalogueId.name == catalogue %}

							{# Header #}
							<tr class="product-header">
								<td colspan="3" class="product-header-title">{{ product.item.catalogueId.name }}</td>
								<td colspan="5" style="font-weight:bold;">{{ product.item.designation }}</td>
								<td>
									<div style="width: 100px">
										<div class="row">
											{# Display 'shop again' button only when a distribution is ended #}
											{% if workflow_has_marked_place(order.distribution, 'ended') %}
												{% if hasOnlyUserRole(app.user) %}
													{# Do not display 'shop again' button in manager view #}
													{{include('shop/suggested_item/_addSuggestedItemFromProduct.html.twig')}}
													{{include('shop/bookmark/_addBookmarkFromProduct.html.twig')}}
													{{ render(controller("App\\Controller\\Shop\\BasketController::addFromPreviousOrder",  { 'oldItem': product.item, 'distribution': distribution })) }}
												{% endif %}
											{% endif %}
										</div>
									</div>
								</td>
							</tr>

							<tr class="product-row">
								<td>{{ product.item.reference }}</td>
								<td>{{ product.item.brand }}</td>
								<td>{{ product.item.packaging }}</td>
								<td>{{ product.item.packing }}</td>
								<td>{{ product.item.unitaryPrice |format_currency('EUR') }}</td>
								<td class="text-center">{{ product.productUnitString | trans({},'forms')  }}</td>
								<td class="text-center">{{ product.quantityDec | replace({".00" : ""}) }}</td>
								<td width="50" class="text-center">
									<div class="form-check">
										<input class="form-check-input position-static" type="checkbox" value="" id="defaultCheck2" disabled {% if product.preOrder %} checked {% endif %}>
									</div>
								</td>
								<td></td>
							</tr>

							{# Comments #}
							{% if product.item.comment %}
								<tr>
									<td colspan="9" class="product-comment">
										<span class="oi oi-double-quote-serif-left"></span>
										{{ product.item.comment }}
									</td>
								</tr>
							{% endif %}

							{# Only to do a clean border #}
							<tr class="product-end-row">
								<td colspan="10" class="product-end"></td>
							</tr>


							{# Spacer for next product #}
							<tr class="spacer">
								<td colspan="10"></td>
							</tr>

						{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="11">{{'common.listing.no_record' | trans}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>