<div class="card mb-4">
	<div class="card-header text-white bg-info">
		<h4>
            <span class="oi oi-pie-chart"></span>
			{{'common.distribution.sharing_proposal' | trans}}
		</h4>
	</div>
	<div class="card-body">
		{{include('shop/order/_listing_sharingProposal.html.twig')}}
	</div>
</div>

<div class="card mb-4">
	<div class="card-header text-white bg-info">
		<h4>
            <span class="oi oi-spreadsheet"></span>
			{{'common.distribution.individual_order' | trans}}
        </h4>
	</div>
	<div class="card-body">
		{{include('shop/order/_listing_individualOrder.html.twig')}}
	</div>
</div>
