{% set catalogueNamesForSharingProposal = [] %}
{% for product in order.product %}
	{% set catalogueNamesForSharingProposal = getCatalogueNames( catalogueNamesForSharingProposal, product, constant( 'ORDERORIGIN_SHARE', product)) %}
{% endfor %}


<div class="tableFixHead">
	<table class="table table-card mt-0">
		<thead class="thead-dark">
			<tr>
				<th>{{'common.listing.reference' | trans}}</th>
				<th>{{'common.listing.brand' | trans}}</th>
				<th>{{'common.listing.packaging' | trans}}</th>
				<th>{{'common.listing.packing' | trans}}</th>
				<th>{{'common.listing.unitary_price' | trans}}</th>
				<th class="text-center">{{'common.listing.unit' | trans}}</th>
				<th class="text-center">{{'common.listing.quantity' | trans}}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for catalogue in catalogueNamesForSharingProposal %}
				{% for product in order.product %}
					{% if product.orderOrigin is constant( 'ORDERORIGIN_SHARE', product) %}

						{% if product.item.catalogueId.name == catalogue %}

							{# Header #}
							<tr class="product-header">
								<td colspan="3" class="product-header-title">{{ product.item.catalogueId.name }}</td>
								<td colspan="4" style="font-weight:bold;">{{ product.item.designation }}</td>
								<td>
									<div style="width: 100px">
										<div
											class="row">
											{# Display 'shop again' button only when a distribution is ended #}
											{% if workflow_has_marked_place(order.distribution, 'ended') %}
												{% if hasOnlyUserRole(app.user) %}
													{# Do not display 'shop again' button in manager view #}
													{{include('shop/suggested_item/_addSuggestedItemFromProduct.html.twig')}}
													{{include('shop/bookmark/_addBookmarkFromProduct.html.twig')}}
													{{ render(controller("App\\Controller\\Shop\\BasketController::addFromPreviousOrder",  { 'oldItem': product.item, 'distribution': distribution })) }}
												{% endif %}
											{% endif %}
										</div>
									</div>
								</td>
							</tr>

							<tr class="product-row">
								<td>{{ product.item.reference }}</td>
								<td>{{ product.item.brand }}</td>
								<td>{{ product.item.packaging }}</td>
								<td>{{ product.item.packing }}</td>
								<td>{{ product.item.unitaryPrice |format_currency('EUR') }}</td>
								<td class="text-center">{{ product.productUnitString }}</td>
								<td class="text-center">{{ product.quantityDec  | replace({".00" : ""}) }}</td>
								<td></td>
							</tr>

							{# Comments #}
							{% if product.relatedSharedProduct.comment %}
								<tr>
									<td colspan="9" class="product-comment">
										<span class="oi oi-comment-square"></span>
										{{ product.relatedSharedProduct.comment }}
									</td>
								</tr>
							{% endif %}
							{% if product.item.comment %}
								<tr>
									<td colspan="9" class="product-comment">
										<span class="oi oi-double-quote-serif-left"></span>
										{{ product.item.comment }}
									</td>
								</tr>
							{% endif %}
							{# Only to do a clean border #}
							<tr class="product-end-row">
								<td colspan="10" class="product-end"></td>
							</tr>
							{# Spacer for next product #}
							<tr class="spacer">
								<td colspan="10"></td>
							</tr>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
				<tr>
					<td colspan="11">{{'common.listing.no_record' | trans}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
