{# TODO: factoriser ce fichier avec le _listing basket? #}

{% set catalogueNamesForSharingProposal = [] %}
{% set catalogueNamesForIndividual = [] %}
{% for product in form.product %}
	{% set catalogueNamesForSharingProposal = getCatalogueNames( catalogueNamesForSharingProposal, product.vars.data, constant( 'ORDERORIGIN_SHARE', product.vars.data)) %} 
	{% set catalogueNamesForIndividual = getCatalogueNames( catalogueNamesForIndividual, product.vars.data, constant( 'ORDERORIGIN_INDIVIDUAL', product.vars.data)) %} 
{% endfor %}


{# {{ form_start(form) }}
{{ form_errors(form) }} #}

<div class="card mb-4">
	<div class="card-header text-white bg-info">
		<h4>
			<i class="fas fa-chart-pie"></i>
			{{'common.distribution.sharing_proposal' | trans}}
		</h4>
	</div>

	<div class="card-body">
		<table class="table table-striped">

			<thead>
				<tr>
					<th>{{'common.listing.catalogue' | trans}}</th>
					<th>{{'common.listing.reference' | trans}}</th>
					<th>{{'common.listing.designation' | trans}}</th>
					<th>{{'common.listing.brand' | trans}}</th>
					<th>{{'common.listing.packaging' | trans}}</th>
					<th>{{'common.listing.packing' | trans}}</th>
					<th>{{'common.listing.min_packing' | trans}}</th>
					<th class="text-center">{{'common.listing.comment' | trans}}</th>
					<th>{{'common.listing.unitary_price' | trans}}</th>
					<th class="text-center">{{'common.listing.unit' | trans}}</th>
					<th class="text-center">{{'common.listing.quantity' | trans}}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for catalogue in catalogueNamesForSharingProposal %}
					{% for product in form.product %}
						{% if product.vars.data.orderOrigin is constant( 'ORDERORIGIN_SHARE', product.vars.data) %}
							{% if product.vars.data.item.catalogueId.name == catalogue %}
								<tr>
									<td>{{ product.vars.data.item.catalogueId.name }}</td>
									<td>{{ (product.vars.data.item.reference) }}</td>
									<td>{{ product.vars.data.item.designation }}</td>
									<td>{{ product.vars.data.item.brand }}</td>
									<td>{{ product.vars.data.item.packaging }}</td>
									<td>{{ product.vars.data.item.packing }}</td>
									<td>{{ product.vars.data.item.minPacking }}</td>
									<td>{{ product.vars.data.relatedSharedProduct.comment }}</td>
									<td>{{ product.vars.data.item.unitaryPrice |format_currency('EUR')}}</td>
									<td>
										{{ form_row(product.productUnit) }}
									</td>
									<td>
										{{ form_row(product.quantityDec) }}
									</td>
									<td>
										{# {{ form_row(product.Remove) }} #}
									</td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="11">{{'common.listing.no_record' | trans}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>




<div class="card mb-4">
	<div class="card-header text-white bg-info">
		<h4>
			<i class="fas fa-table"></i>
			{{'common.distribution.individual_order' | trans}}
		</h4>
	</div>

	<div class="card-body">
		<table class="table table-striped ">
			<thead>
				<tr>
					<th>{{'common.listing.catalogue' | trans}}</th>
					<th>{{'common.listing.reference' | trans}}</th>
					<th>{{'common.listing.designation' | trans}}</th>
					<th>{{'common.listing.brand' | trans}}</th>
					<th>{{'common.listing.packaging' | trans}}</th>
					<th>{{'common.listing.packing' | trans}}</th>
					<th>{{'common.listing.min_packing' | trans}}</th>
					<th>{{'common.listing.unitary_price' | trans}}</th>
					<th class="text-center">{{'common.listing.unit' | trans}}</th>
					<th class="text-center">{{'common.listing.quantity' | trans}}</th>
					<th class="text-center">{{'common.listing.pre_order' | trans}}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				{% for catalogue in catalogueNamesForIndividual %}
					{% for product in form.product %}
						{% if product.vars.data.orderOrigin is constant( 'ORDERORIGIN_INDIVIDUAL', product.vars.data) %}
							{% if product.vars.data.item.catalogueId.name == catalogue %}
								<tr>
									<td>{{ product.vars.data.item.catalogueId.name }}</td>

									<td>{{ (product.vars.data.item.reference) }}</td>
									<td>{{ product.vars.data.item.designation }}</td>
									<td>{{ product.vars.data.item.brand }}</td>
									<td>{{ product.vars.data.item.packaging }}</td>
									<td>{{ product.vars.data.item.packing }}</td>
									<td>{{ product.vars.data.item.minPacking }}</td>
									<td>{{ product.vars.data.item.unitaryPrice |format_currency('EUR')}}</td>
									<td>
										{{ form_row(product.productUnit) }}
									</td>
									<td>
										{{ form_row(product.quantityDec) }}
									</td>
									<td width="50" class="text-center">
										{{ form_row(product.preOrder) }}
									</td>
									<td>
										{# {{ form_row(product.Remove) }} #}
									</td>
								</tr>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% else %}
					<tr>
						<td colspan="11">{{'common.listing.no_record' | trans}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>



{# <div class="row">
	{{ form_row(form.Confirm) }}
</div>


{{ form_widget(form._token) }}

{{ form_end(form, {'render_rest': false}) }} #}
