<table>
	<tr>
		<td class="text-right">{{'shop.basket_order.price' | trans}}:</td>
		<td class="text-right">{{ order.price |format_currency('EUR', {fraction_digit: 0}) }}</td>
	</tr>

	<tr>
		<td class="text-right">
			<span class="oi oi-euro"></span>
			<strong>{{'shop.basket_order.vat_price' | trans}}:</strong>
		</td>
		<td class="text-right">{{ order.VATPrice |format_currency('EUR', {fraction_digit: 0}) }}</td>
	</tr>
</table>

{# Display warning message only for current distribution #}
{% if workflow_has_marked_place(order.distribution, 'opened') %}
<p>
	<div class="alert alert-danger" role="alert">
		{{'shop.basket_order.price_message.warning' | trans | raw}}
	</div>
</p>
{% endif %}