{% extends 'base.html.twig' %}

{% block title %}{{'shop.menubar.orders_history' | trans}}
{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}

<div class="container">

	<div class="card " style="">
		<div class="card-header text-center border-info">
			<h3>
				<span class="oi oi-list"></span>
				{{'shop.menubar.orders_history' | trans}}
			</h3>
		</div>
		<div class="card-body">
			<table class="table table-striped table-hover mt-3">
				<thead class="thead-dark">
					<tr>
						<th>Id</th>
						<th>{{'shop.basket_order.date' | trans}}</th>
						<th>{{'shop.basket_order.vat_price' | trans}}</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					{% for order in orders %}
						<tr>
							<td>{{ order.id}}</td>
							<td>{{ order.distribution.deliveryDate |date("m/d/Y") }}</td>
							<td>{{ order.VATPrice  |format_currency('EUR', {fraction_digit: 0})}}</td>
							<td width="200">
								<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('order_show', {'id':order.id})}}">
									<span data-feather="eye">View</span>
								</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div> <!-- /.card -->

</div>

{% endblock %}
