{% extends 'dashboard.html.twig' %}

{% block title %}{{'shop.basket_order.edition_page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	Édition de commande
{% endblock %}



{% block body %}

	{% if order %}
		
		<div class="card mb-4">
			<div class="card-header text-white text-center bg-primary">
				<h3>
					<i class="fas fa-credit-card"></i>
					{{'shop.basket_order.order_for' | trans}}
					{{order.user.username}},
					{{ order.distribution.deliveryDate |date("m/d/Y")}}
				</h3>
			</div>
		
			{{ form_start(form) }}
			{{ form_errors(form) }}

			<div class="card-body">
					{{include('shop/order/_managerListing.html.twig')}}
			</div>

			<div class="card-footer">

				<div class="row">
					{{ form_widget(form.Confirm, {'icon':{'icon':  'oi-chevron-right', 'marginright': true}}) }}

					{{ form_widget(form._token) }}
					{{ form_end(form, {'render_rest': false}) }}

					<a class="btn btn-secondary mr-1" href="{{path('distribution_show',{'id':order.distribution.id})}}#nav-orders">
						<i class="fas fa-undo"></i>
						{{'common.buttons.back_view' | trans}}
					</a>

					<form method="post" action="{{ path('gen_single_dinaspreadsheet', {'id': order.id}) }}">
						<button class="btn btn-success mr-1">
							<i class="fas fa-check"></i>
							{{'common.buttons.check_order' | trans}}
						</button>
					</form>
				</div>
			</div>
		</div>

	{% else %}
		{{'shop.basket_order.no_order' | trans}}
	{% endif %}
	
{% endblock %}
