{% extends 'base.html.twig' %}

{% block title %}{{'shop.basket_order.page_title' | trans}}
{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	<div class="container">

		{% if order %}

			<div class="card mb-4">
				<div class="card-header text-white text-center bg-primary">
					<h3>
						<span class="oi oi-credit-card"></span>
						{{'shop.basket_order.order_for2' | trans}}
						{{ order.distribution.deliveryDate |date("m/d/Y")}}
					</h3>
				</div>
			</div>

			{# Display order #}
			{{include('shop/order/_listing.html.twig')}}

			{# Buttons #}
			{% if workflow_has_marked_place(order.distribution, 'opened') %}

				<div class="card my-3">
					<div class="card-header text-white bg-success">
						<h4>
							<span class="oi oi-euro"></span>	
						</h4>
					</div>
					<div class="card-body">
						{{include('shop/order/_price.html.twig')}}
					</div>
					<div class="card-footer ">
						<div class="form-row">
							<div class="form-group col-xs-1">
									{{include('shop/order/_edit_form.html.twig')}}
							</div>
							<div class="form-group col-xs-1">
									{{include('shop/order/_delete_form.html.twig')}}
							</div>
							<div class="form-group col">
								<form method="post" action="{{ path('gen_single_dinaspreadsheet', {'id': order.id}) }}">
									<button class="btn btn-success">
										<span class="oi oi-check"></span>
										{{'common.buttons.check_order' | trans}}
									</button>
							</form>
							</div>
						</div>
					</div> <!-- /.card-footer -->
				</div> <!-- /.card -->

			{# If current distribution is opened and previous order is ended #}
			{% elseif workflow_has_marked_place(order.distribution, 'ended') and distribution and workflow_has_marked_place(distribution, 'opened') %}
				<div class="card my-3">
					<div class="card-header text-white bg-success">
						<h4>
							<span class="oi oi-euro"></span>
						</h4>
					</div>
					<div class="card-body">
						{{include('shop/order/_price.html.twig')}}
					</div>
					<div class="card-footer ">
						<div class="form-row">
							<div class="form-group col">
								{{include('shop/basket/_addBasketFromOrder.html.twig')}}
							</div>
						</div>
					</div> <!-- /.card-footer -->
				</div> <!-- /.card -->

			{% else %} 
				<div class="card my-3">
					<div class="card-header text-white bg-success">
						<h4>
							<span class="oi oi-euro"></span>
						</h4>
					</div>
					<div class="card-body">
						{{include('shop/order/_price.html.twig')}}
					</div>
				</div> <!-- /.card -->
			{% endif %} {# workflow #}

		{% else %} {# order #}

			<h1 class="display-1">
				[¬º-°]¬

			</h1>
			<br>
			<h1 class="display-5">{{'shop.basket_order.no_order' | trans}}</h1>

		{% endif %} {# order #}

	</div> <!-- /.container -->

{% endblock %}
