{% extends 'base.html.twig' %}

{% block title %}
	{{'security.login.page_title' | trans}}
{% endblock %}


{% block body %}
	<div class="container">

		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					{{'security.login.logged_in' | trans}}
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">{{'common.navbar.logout' | trans}}</a>
				</div>
			{% endif %}

			<div class="card" >
				<div class="card-header text-center border-info">
					<h1 class="h3 mb-3 font-weight-normal">
						<span class="oi oi-lock-locked"></span>
						{{'security.login.title' | trans}}
					</h1>
				</div>
				<div class="card-body">

					<label for="inputEmail">{{'user.email' | trans({},'forms')}}</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">@</span>
						</div>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
					</div>

					<label for="inputPassword">{{'user.password' | trans({},'forms')}}</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text">
								<span class="oi oi-key"></span>
							</span>
						</div>
						<input type="password" name="password" id="inputPassword" class="form-control" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="checkbox mt-2">
						<label>
							<input type="checkbox" name="_remember_me">
							{{'security.login.remember' | trans}}
						</label>
					</div>
				</div> <!-- /.card-body -->

				<div class="card-footer">
					<button class="btn btn-lg btn-primary" type="submit">
						<span class="oi oi-account-login"></span>
						{{'common.navbar.login' | trans}}
					</button>
					<p class="mt-1">
						<a href="{{path('app_forgot_password_request') }}">
							{{'security.login.forgot' | trans}}
						</a>
					</p>

				</div> <!-- /.card-footer -->
			</div>
		</form>	
	</div>
{% endblock %}
