<p>
	{{ 'user.edit.body'|trans({}, 'emails') }}

	<ul>
		<li>{{ 'admin.user.listing.email'| trans }}:
			{{user.email}}</li>

		<li>{{ 'admin.user.listing.username'| trans }}:
			{{user.username}}</li>

		<li>{{ 'admin.user.listing.status'| trans }}:
			{{user.status | getUserStatus}}</li>

	</ul>

</p>
