<div class="list-group">

<a href="{{path('help_shop_suggest_add')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Suggérer un article</h5>
	</div>
	<p class="mb-1">Comment suggérer un article pour la prochaine proposition de partage?</p>
</a>

<a href="{{path('help_shop_suggest_remove')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Retirer votre suggestion</h5>
	</div>
	<p class="mb-1">Comment revenir sur votre choix?</p>
</a>



</div>
