{% extends 'base.html.twig' %}

{% block stylesheets %}
	{# Preload background image to avoid grey screen before end of loading #}
	<link rel="preload" href="/img/erol-ahmed-E6QNwtp5Gbk-unsplash.jpg" as="image">
{% endblock %}

{% block body %}

	<style>

		html { 
		  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('/img/erol-ahmed-E6QNwtp5Gbk-unsplash.jpg') no-repeat center center fixed;

		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		}

		.bg-primary{
		    background-color: rgba(0, 0, 0, 0.3)!important;
		}

		body {
			background-color:transparent;
		}

		main{
			padding-bottom:0;
		}

		.page-holder {
			min-height: 100vh;
		}

		.bg-cover {
		  background-size: cover !important;
		}

		#bg-photo{
			color: rgb(255,255,255,0.5);
			position: relative;
			bottom: 0;
		}
		#bg-photo a{
			color: rgb(255,255,255,0.5);
		}		

	</style>

	<div style="bottom:60px;left:0;width:100%;padding-bottom:40px">

		<!-- Main jumbotron for a primary marketing message or call to action -->

		<div class="jumbotron bg-transparent text-white text-center" style="overflow-wrap:break-word;">

			<div class="container">
				<h1 class="display-3">Bienvenue à DINA!</h1>
				<p>Rendez vous dans le magasin en ligne pour passer commande:</p>
				<p>
					<a class="btn btn-outline-light btn-lg" style="background-color: rgb(0,0,0,0.3);height:80px;width:200px;padding-top:22px;" href="{{path('shop_item_sharing_index')}}" role="button">Commander <span class="oi oi-chevron-right" style="vertical-align:bottom;font-size:30px"></span></a>
				</p>
			</div>
		</div>


		<div class="container">
			<!-- Example row of columns -->
			<div class="row text-white mb-4">
				<div class="col-md-4">
					<h2 class="text-center">L'association</h2>
					<p>
						DINA (DIstribution au NAturel) est une association de consommateurs permettant de commander des produits BIO chez des grossistes ou des producteurs locaux.	<br>
						Les commandes sont réservées aux adhérent(e)s.
					</p>
				</div>
				<div class="col-md-4">
					<h2 class="text-center">Les Distributions</h2>
					<p>
						Les livraison de commandes ont lieu le lundi tous les 15 jours entre 15 et 16h à la salle Vérimande sur ANNOT.
					</p>
				</div>
				<div class="col-md-4">
					<h2 class="text-center" >Devenir membre</h2>
					<p>
						Pour devenir membre passez nous voir lors d'une livraison, on vous expliquera tout!  :-)
					{# <p>
						<a class="btn btn-secondary" href="{{path('account_request')}}" role="button">Obtenir une invitation &raquo;</a>
					</p> #}
				</div>
			</div>
		</div> <!-- /container -->

	</div> <!-- /bg-dark -->

	<div style="position:absolute;bottom:80px">
		<span id="bg-photo" class="ml-4">Photo by
			<a href="https://unsplash.com/@erol?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Erol Ahmed</a>
		</span>
	</div>
	

{% endblock %}