<div class="list-group">

<a href="{{path('help_shop_extra_add')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Commander un article extra</h5>
	</div>
	<p class="mb-1">Commander un article absent d'un catalogue (promotions, etc...)</p>
</a>


</div>
