<div class="list-group">

<a href="{{path('help_shop_bookmark_add')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Ajouter un favori</h5>
	</div>
	<p class="mb-1">Comment ajouter un favori?</p>
</a>

<a href="{{path('help_shop_bookmark_remove')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Supprimer un favori</h5>
	</div>
	<p class="mb-1">Comment supprimer un favori?</p>
</a>

<a href="{{path('help_shop_bookmark_order')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Commander depuis un favori</h5>
	</div>
	<p class="mb-1">Les cas possibles</p>
</a>



</div>
