{% extends 'dashboard.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block pageTitle %}
{% endblock %}


{% block body %}

<div class="row">
	{{ widgets | raw }}
	<!-- raw sert à ne pas échapper le code -->
</div>


{% endblock %}

