{% if distribution %}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('distribution_show',{'id': distribution.id})}}">
			<i class="nav-icon fas fa-eye"></i>
			<p>
				{{'dashboard.menubar.distribution.show' | trans}}
			</p>
		</a>
	</li>
{% endif %}

<li class="nav-item has-treeview">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-step-forward"></i>
		<p>
			Actions
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	{% if distribution %}
		<ul class="nav nav-treeview" style="display: none;">
			{% if workflow_can(distribution, 'share') %}
				<li class="nav-item">
					<a href="{{ path('distribution_next',{'id': distribution.id})}}" class="nav-link">

						<i class="far fa-circle nav-icon"></i>
						<p>{{'dashboard.menubar.sharing_proposal.launch' | trans}}</p>

					</a>
				</li>
			{% endif %}

			{% if workflow_can(distribution, 'review')%}
				<li class="nav-item">
					<a href="{{ path('distribution_next',{'id': distribution.id})}}" class="nav-link">

						<i class="far fa-circle nav-icon"></i>
						<p>{{'dashboard.menubar.sharing_proposal.send_SP' | trans}}</p>

					</a>
				</li>
			{% endif %}

			{% if workflow_can(distribution, 'reject')%}
				<li class="nav-item">
					<a href="{{ path('distribution_next',{'id': distribution.id})}}" class="nav-link">

						<i class="far fa-circle nav-icon"></i>
						<p>{{'dashboard.menubar.sharing_proposal.edit_SP' | trans}}</p>

					</a>
				</li>
			{% endif %}

			{% if workflow_can(distribution, 'open') %}

				<li class="nav-item">
					<a href="{{ path('distribution_next',{'id': distribution.id})}}" class="nav-link">

						<i class="far fa-circle nav-icon"></i>
						<p>{{'dashboard.menubar.sharing_proposal.open_sale' | trans}}</p>

					</a>
				</li>
			{% endif %}

			{% if workflow_can(distribution, 'close') %}

				<li class="nav-item">
					<a href="{{ path('distribution_next',{'id': distribution.id})}}" class="nav-link">

						<i class="far fa-circle nav-icon"></i>
						<p>{{'dashboard.menubar.sharing_proposal.close_sale' | trans}}</p>

					</a>
				</li>
			{% endif %}

			{% if workflow_can(distribution, 'end') %}

				<li class="nav-item">
					<a href="{{ path('distribution_next',{'id': distribution.id})}}" class="nav-link">

						<i class="far fa-circle nav-icon"></i>
						<p>{{'dashboard.menubar.sharing_proposal.end_distrib' | trans}}</p>

					</a>
				</li>
			{% endif %}

		</ul>
	{% endif %}
</li>