{% set submit_message = 'manager.distribution.delete.message' | trans %}


<form method="post" action="{{ path('distribution_delete', {'id': distribution.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ distribution.id) }}">
    <button class="btn btn-danger mr-1">
	    <i class="fas fa-trash-alt"></i>
	    {{'common.buttons.delete' | trans}}
    </button>
</form>
