<div class="card card-light">
	<div class="card-header">
		<h3 class="card-title">Informations</h3>
	</div>

	<div class="card-body">

		{{ form_start(form) }}
		{{ form_widget(form) }}
	</div>
	<!-- /.card-body -->

	<div class="card-footer">
		<div class="row">

			<button class="btn btn-primary mr-1">
				<i class="fas fa-save"></i>
				{{ button_label|default('common.buttons.save' | trans) }}
            </button>

			{{ form_end(form) }}

			{% if workerBackButton is defined  %}
				<a class="btn btn-secondary mr-1" href="{{ path('worker_catalogue_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans }}
				</a>
			{% else %}
				<a class="btn btn-secondary mr-1" href="{{ path('distribution_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans}}
            	</a>
			{% endif %}

			{% if deleteButton is defined  %}
				{{ include('manager/distribution/_delete_form.html.twig') }}
			{% endif %}

		</div>
	</div>
</div>
