<div class="dropdown">
	<button class="btn btn-success dropdown-toggle mr-1 {% if workflow_has_marked_place(distribution, 'ended') %} disabled {% endif %}" type="button" id="dropdownMenuButton" data-toggle="dropdown" title="{{'common.buttons.steps' | trans}}" aria-haspopup="true" aria-expanded="false">
		<i class="fas fa-step-forward"></i>
	</button>
	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item  {% if not workflow_has_marked_place(distribution, 'new') %} disabled {% endif %}" href="{{ path('distribution_next',{'id': distribution.id})}}">{{'dashboard.menubar.sharing_proposal.launch' | trans}}</a>
		<a class="dropdown-item  {% if not workflow_can(distribution, 'review') %} disabled {% endif %}" href="{{ path('distribution_next',{'id': distribution.id})}}">{{'dashboard.menubar.sharing_proposal.send_SP' | trans}}</a>
		<a class="dropdown-item  {% if not workflow_can(distribution, 'reject') %} disabled {% endif %}" href="{{ path('distribution_previous',{'id': distribution.id})}}">{{'dashboard.menubar.sharing_proposal.edit_SP' | trans}}</a>
		<a class="dropdown-item  {% if not workflow_can(distribution, 'open') %} disabled {% endif %}" href="{{ path('distribution_next',{'id': distribution.id})}}">{{'dashboard.menubar.sharing_proposal.open_sale' | trans}}</a>
		<a class="dropdown-item  {% if not workflow_can(distribution, 'close') %} disabled {% endif %}" href="{{ path('distribution_next',{'id': distribution.id})}}">{{'dashboard.menubar.sharing_proposal.close_sale' | trans}}</a>
		<a class="dropdown-item  {% if not workflow_can(distribution, 'end') %} disabled {% endif %}" href="{{ path('distribution_next',{'id': distribution.id})}}">{{'dashboard.menubar.sharing_proposal.end_distrib' | trans}}</a>
	</div>
</div>
