{% if 'shareinprogress' in workflow_has_previous_marked_place(distribution) %}
	{% if  'sharedone' in workflow_has_previous_marked_place(distribution) %}
		<div style="max-height: 800px; overflow-y: scroll;">
			{{ render(controller("App\\Controller\\Worker\\SharingProposalController::displayListing", {'id': distribution.id})) }}
		</div>
		<div class="row ml-0">
			{% if distribution.sharingProposal %}
				<a class="btn btn-success mt-2" href="{{ path('gen_sharingproposal_dinaspreadsheet', {'id': distribution.id}) }}" role="button">
					<i class="fas fa-check"></i>
					{{'common.buttons.check_proposal_spreadsheet' | trans}}
				</a>
			{% endif %}
			{% if not workflow_has_marked_place(distribution, 'ended') %}
				<a class="btn btn-success mx-1 mt-2" href="{{ path('mail_sharingproposal_dinaspreadsheet', {'id': distribution.id}) }}" role="button">
					<i class="fas fa-paper-plane"></i>
					{{'common.buttons.mail_proposal_spreadsheet' | trans}}
				</a>
			{% endif %}
		</div>
	{% else %}
		<div class="alert alert-primary my-2" role="alert">
			<i class="fas fa-hourglass-start"></i>
			{{'manager.distribution.show.messages.ongoing_sharingproposal' | trans}}
		</div>
	{% endif %}
{% endif %}

{% if not workflow_has_marked_place(distribution, 'ended') %}
<div class="row ml-0 mt-2">
	{% set disabled %}
		{{ (workflow_has_marked_place(distribution, 'new'))? 'disabled' : '' }}
	{% endset %}
	<a class="btn btn-info mr-1 {{disabled}}" href="{{ path('sharing_proposal_manager_index')}}" role="button">
		<i class="fas fa-chart-pie"></i>
		{{'common.buttons.show_details' | trans}}
	</a>
	
	<a class="btn btn-info " href="{{ path('worker_manager_suggested_items_index', {'id': distribution.id})}}" role="button">
		<i class="far fa-lightbulb"></i>
		{{'common.buttons.check_suggestions' | trans}}
	</a>
</div>

{% endif %}