<table class="table">
	<tbody>
		<tr>
			<th style="width:300px;">Id</th>
			<td>{{ distribution.id }}</td>
		</tr>
		<tr>
			<th>{{'manager.distribution.listing.status' | trans}}</th>
			<td>
				{{ include('manager/distribution/_status_button.html.twig') }}
			</td>
		</tr>
		<tr>
			<th>{{'manager.distribution.listing.delivery_date' | trans}}</th>
			<td>{{ distribution.deliveryDate ? distribution.deliveryDate|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>{{'manager.distribution.listing.catalogues' | trans}}</th>
			<td>
				{% if  distribution.catalogues is not empty %}
					<ul>
						{% for catalogue in distribution.catalogues %}
							<li>
								<strong>{{ catalogue.name }}</strong>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<button type="button" class="btn btn-outline-warning" disabled>
						<i class="fas fa-exclamation-circle"></i>{{'common.listing.no_record' | trans}}
					</button>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>{{'manager.distribution.listing.created_at' | trans}}</th>
			<td>{{ distribution.CreatedAt ? distribution.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
		<tr>
			<th>{{'manager.distribution.listing.updated_at' | trans}}</th>
			<td>{{ distribution.UpdatedAt ? distribution.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
		</tr>
	</tbody>
</table>

<div class="row">
	<a class="btn btn-primary mr-1" href="{{ path('distribution_edit', {'id': distribution.id}) }}">
		<i class="fas fa-pen"></i>
		{{'common.buttons.edit' | trans}}
	</a>

	{% if is_granted('ROLE_ADMIN') %}
		{{ include('manager/distribution/_delete_form.html.twig') }}
	{% endif %}
</div>
