{% if 'opened' in workflow_has_previous_marked_place(distribution) %}
	{% if distribution.orders is not empty %}
		<div style="padding-top: 1em;">
			<div class="row">
				<div class="col-2">
					<div class="list-group" id="list-tab" role="tablist">
						{% set i=0 %}
						{% for order in distribution.orders %}
							<a class="list-group-item list-group-item-action {% if i == 0 %}active{% endif %}" id="list-order-list-{{order.user.id}}" data-toggle="list" href="#list-order-{{order.user.id}}" role="tab" aria-controls="order">{{order.user.username}}</a>
							{% set i = i + 1 %}
						{% endfor %}
					</div>
				</div>
				<div class="col">
					<div class="tab-content" id="nav-tabContent">
						{% set i=0 %}
						{% for order in distribution.orders %}
							<div class="tab-pane fade show {% if i == 0 %}active{% endif %}" id="list-order-{{order.user.id}}" role="tabpanel" aria-labelledby="list-order-list-{{order.user.id}}">
							
								{# sharing proposal part #}
								<div class="card mb-4">
									<div class="card-header text-white bg-gray">
										<h4>
											<i class="fas fa-chart-pie"></i>
											{{'common.distribution.sharing_proposal' | trans}}
										</h4>
									</div>
								</div>
								{{include('shop/order/_listing_sharingProposal.html.twig')}}

								{# individual order part #}
								<div class="card mb-4">
									<div class="card-header text-white bg-gray">
										<h4>
											<i class="fas fa-table"></i>
											{{'common.distribution.individual_order' | trans}}
										</h4>
									</div>
								</div>
								{{include('shop/order/_listing_individualOrder.html.twig')}}
	
								{% if not workflow_has_marked_place(distribution, 'ended') %}
									<div class="row">
										<a class="btn btn-primary mt-1 mb-4" href="{{ path('order_manager_edit', {'id':order.id})}}" role="button">
											<i class="fas fa-pen"></i>
											{{'common.buttons.edit_order' | trans}}
										</a>
										<form method="post" action="{{ path('gen_single_dinaspreadsheet', {'id': order.id}) }}">
											<button class="btn btn-success mt-1 mx-1">
												<i class="fas fa-check"></i>
												{{'common.buttons.check_order' | trans}}
											</button>
										</form>
									</div>

								{% endif %}
							</div>
							{% set i = i + 1 %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	{% else %}
		<div class="alert alert-warning my-3" role="alert">
		  <strong>/!\ {{'common.listing.no_record' | trans}} /!\</strong>
		</div>		
	{% endif %}
{% endif %}

{% if workflow_has_marked_place(distribution, 'closed') %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	 {{'manager.distribution.show.messages.closed' | trans | raw}}
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	  </button>
	</div>

	<div class="row">
		<form method="post" action="{{ path('gen_bulk_dinaspreadsheet', {'id': distribution.id}) }}">
			<button class="btn btn-success ml-3">{{'common.buttons.check_orders' | trans}}</button>
		</form>
		<form method="post" action="{{ path('mail_bulk_dinaspreadsheet', {'id': distribution.id}) }}">
			<button class="btn btn-success mx-1">{{'common.buttons.mail_orders' | trans}}</button>
		</form>
	</div>
{% endif %}
