{% if distribution.status == 'new' %}
	<button type="button" disabled class="btn btn-outline-primary">{{ distribution.status | getDistributionStatus }}</button>
{% elseif distribution.status == 'shareinprogress' %}
	<button type="button" disabled class="btn btn-outline-info">{{ distribution.status | getDistributionStatus}}</button>
{% elseif distribution.status == 'sharedone' %}
	<button type="button" disabled class="btn btn-outline-info">{{ distribution.status| getDistributionStatus }}</button>
{% elseif distribution.status == 'opened' %}
	<button type="button" disabled class="btn btn-outline-success">{{ distribution.status | getDistributionStatus}}</button>
{% elseif distribution.status == 'closed' %}
	<button type="button" disabled class="btn btn-outline-warning">{{ distribution.status| getDistributionStatus }}</button>
{% elseif distribution.status == 'ended' %}
	<button type="button" disabled class="btn btn-outline-danger">{{ distribution.status| getDistributionStatus }}</button>
{% else %}
	<button type="button" disabled class="btn btn-outline-warning">{{ distribution.status| getDistributionStatus }}</button>
{% endif %}
