{% extends 'dashboard.html.twig' %}


{% block title %}
	{{'manager.distribution.index.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.distribution.index.title' | trans}}
{% endblock %}


{% block body %}


	<div class="card">
		<div class="card-body p-0">
			<table class="table table-striped">

				<thead>
					<tr>
						<th>#</th>
						<th>{{'manager.distribution.listing.status' | trans}}</th>
						<th>{{'manager.distribution.listing.delivery_date' | trans}}</th>
						<th>{{'manager.distribution.listing.catalogues' | trans}}</th>
						<th>{{'manager.distribution.listing.created_at' | trans}}</th>
						<th>{{'manager.distribution.listing.updated_at' | trans}}</th>
						<th>{{'manager.distribution.listing.actions' | trans}}</th>
					</tr>
				</thead>
				<tbody>
					{% for distribution in distributions %}
						<tr>
							<td>{{ distribution.id }}</td>
							<td>
								{{ include('manager/distribution/_status_button.html.twig') }}
							</td>
							<td>{{ distribution.deliveryDate ? distribution.deliveryDate|date('d-m-Y') : '' }}</td>
							<td>
								<ul>
									{% for catalogue in distribution.catalogues %}
										<li>{{ catalogue.name }}</li>
									{% endfor %}
								</ul>
							</td>
							<td>{{ distribution.CreatedAt ? distribution.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ distribution.UpdatedAt ? distribution.UpdatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<div style="width: 140px">
									<div class="row">
										<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('distribution_show', {'id': distribution.id}) }}">
											<i class="fas fa-eye"></i>
										</a>
										<a class="btn btn-primary mr-1 {% if distribution.statusIndex(distribution.status) > constant( 'STATUS_OPENED', distribution) %} disabled {% endif %}" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('distribution_edit', {'id': distribution.id}) }}">
											<i class="fas fa-pen"></i>
										</a>
										{{ include('manager/distribution/_progress_button.html.twig') }}
									</div>
								</div>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">

			<div class="pagination justify-content-end mt-3">
				{{ knp_pagination_render(distributions) }}
			</div>

			<div class="row ml-0 pb-4">

				<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.new' | trans}}" href="{{ path('distribution_new') }}">
					<i class="fas fa-plus"></i>
				</a>
			</div>
		</div>
	</div>


{% endblock %}
