{% extends 'dashboard.html.twig' %}

{% form_theme form.Catalogues 'customizingForms/catalogueChoice.html.twig' %}

{% block title %}
	{{'manager.distribution.new.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.distribution.new.title' | trans}}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous"/>
{% endblock %}


{% block body %}

	{{ include('manager/distribution/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous"></script>
	<script src="/scripts/datePicker.js"></script>
{% endblock %}