{% extends 'dashboard.html.twig' %}


{% block title %}
	{{'manager.distribution.show.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.distribution.show.title' | trans}}
	#{{distribution.id}}
	-
	{{distribution.deliveryDate |date('Y-m-d')}}


{% endblock %}


{% block body %}


	<div class="card ">
		<div class="card-header">

			<p>
				{{include('manager/distribution/_progressBar.html.twig')}}
			</p>
		</div>
		<!-- /.card-header -->

		<div class="card-body">


			<div class="card card-primary card-outline card-outline-tabs">
				<div class="card-header p-0 border-bottom-0">
					<ul class="nav nav-tabs" id="nav-tab" role="tablist">

						<li class="nav-item">
							<a class="nav-link active" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="true">
								<i class="fas fa-info"></i>
								{{'manager.distribution.show.tabs.link_info' | trans}}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="nav-sharingproposal-tab" data-toggle="tab" href="#nav-sharingproposal" role="tab" aria-controls="nav-sharingpropsal" aria-selected="false">
								<i class="fas fa-chart-pie"></i>
								{{'manager.distribution.show.tabs.link_sharing_proposal' | trans}}</a>

						</li>
						<li class="nav-item">
							<a class="nav-link {% if not ('opened' in workflow_has_previous_marked_place(distribution)) %} disabled {% endif %}" id="nav-orders-tab" data-toggle="tab" href="#nav-orders" role="tab" aria-controls="nav-contact" aria-selected="false">
								<i class="fas fa-shopping-basket"></i>
								{{'manager.distribution.show.tabs.link_orders' | trans}}</a>
						</li>

					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="nav-info" role="tabpanel" aria-labelledby="nav-home-tab">{{include('manager/distribution/_show_infos.html.twig')}}</div>
						<div class="tab-pane fade" id="nav-sharingproposal" role="tabpanel" aria-labelledby="nav-profile-tab">{{include('manager/distribution/_show_sharingproposal.html.twig')}}</div>
						<div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-contact-tab">{{include('manager/distribution/_show_orders.html.twig')}}</div>
					</div>
				</div>
				<!-- /.card -->
			</div>

			<div class="card card-olive ">
				<div class="card-header">
					<h3 class="card-title">
						<i class="fas fa-angle-double-right"></i>
						{{'manager.distribution.show.workflow_action' | trans}}</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div class="row">
						{% if workflow_has_marked_place(distribution, 'new') %}
							<form class="form-inline" action=" {{ path('distribution_next',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-primary ">
									<i class="fas fa-rocket"></i>
									{{'common.buttons.launch_sharing_proposal' | trans}}
								</button>

							</form>
						{% endif %}
						{% if  workflow_has_marked_place(distribution, 'shareinprogress') %}
							<button type="button" class="btn btn-primary disabled">
								<i class="fas fa-hourglass-start"></i>
								{{'manager.distribution.show.messages.ongoing_sharingproposal' | trans}}
							</button>
						{% endif %}
						{% if workflow_can(distribution, 'reject') %}
							<form action=" {{ path('distribution_previous',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-warning">
									<i class="fas fa-step-backward"></i>
									{{'manager.distribution.show.messages.reject' | trans}}
								</button>
							</form>
						{% endif %}
						{% if workflow_can(distribution, 'open') %}
							<form class="form-inline" action=" {{ path('distribution_next',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-primary mx-1">
									<i class="fas fa-step-forward"></i>
									{{'common.buttons.open_sale' | trans}}
								</button>
							</form>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') and workflow_can(distribution, 'reshare') %}
							<form class="form-inline" action=" {{ path('distribution_previous',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-warning  mx-1">
									<i class="fas fa-step-backward"></i>
									{{'common.buttons.reshare' | trans}}
								</button>
							</form>
						{% endif %}
						{% if workflow_can(distribution, 'close') %}
							<form class="form-inline" action=" {{ path('distribution_next',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-primary mr-1">
									<i class="fas fa-step-forward"></i>
									{{'common.buttons.close_sale' | trans}}
								</button>
							</form>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') and workflow_can(distribution, 'reopen') %}
							<form class="form-inline" action=" {{ path('distribution_previous',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-warning  mr-1">
									<i class="fas fa-step-backward"></i>
									{{'common.buttons.reopen_sale' | trans}}
								</button>
							</form>
						{% endif %}
						{% if workflow_can(distribution, 'end') %}
							<form class="form-inline" action=" {{ path('distribution_next',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-primary mr-1">
									<i class="fas fa-step-forward"></i>
									{{'common.buttons.end_distribution' | trans}}
								</button>
							</form>
						{% elseif  workflow_has_marked_place(distribution, 'closed') %}
							<button class="btn btn-primary mr-1 disabled">
								<i class="fas fa-step-backward"></i>
								{{'common.buttons.end_distribution' | trans}}
							</button>
						{% endif %}
						{% if workflow_has_marked_place(distribution, 'ended') %}
							<div class="alert alert-info col-lg-12 text-center" role="alert">
								<strong>{{'manager.distribution.show.messages.ended_noaction' | trans}}</strong>
							</div>
						{% endif %}
					</div>

				</div>
				<!-- /.card-body -->
			</div>


			{# <div class="mb-3" style="border: 1mm ridge #EEECEC;padding:20px;">
							
						</div> #}

		</div>
		<!-- /.card-body -->

		<div class="card-footer">
			<a class="btn btn-secondary mr-1" href="{{ path('distribution_index') }}">
				<i class="fas fa-undo"></i>
				{{'common.buttons.back' | trans}}</a>


		</div>
	</div>


{% endblock %}
