<form action="{{ path('basket_add_from_order', {id: order.id}) }}" method="post">
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.basket' | trans}}" href="">
		<span style="font-size:smaller" data-feather="shopping-cart"></span>
		{{'common.buttons.add_card' | trans}}</button>
</form>


