<form action="{{ path('basket_item_add', {id: row.id}) }}" method="post" class="btn-bookmark-shop">
	<button class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.basket' | trans}}" href="">
		<span class="oi oi-cart"></span>
	</button>
</form>


