<form action="{{ path('basket_item_add_from_sharedProduct', {id: sharedProduct.id}) }}" class="btn-shop" method="post">
	<button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.basket' | trans}}" href="">
		<span style="font-size:smaller" data-feather="shopping-cart"></span>
	</button>
</form>


