{% set catalogueNamesForSharingProposal = [] %}
{% set catalogueNamesForIndividual = [] %}
{% for product in form.product %}
	{% set catalogueNamesForSharingProposal = getCatalogueNames( catalogueNamesForSharingProposal, product.vars.data, constant( 'ORDERORIGIN_SHARE', product.vars.data)) %} 
	{% set catalogueNamesForIndividual = getCatalogueNames( catalogueNamesForIndividual, product.vars.data, constant( 'ORDERORIGIN_INDIVIDUAL', product.vars.data)) %} 
{% endfor %}



<div class="card mb-4">
	<div class="card-header text-white text-center bg-primary">
		<h3>
			<span class="oi oi-basket"></span>
			{{'shop.basket_order.your_basket' | trans}}
		</h3>
	</div>
</div>


{{ form_start(form) }}
{{ form_errors(form) }}

<div class="card mb-4">
	<div class="card-header text-white bg-info">	
		<h4>
			<span class="oi oi-pie-chart"></span>
			{{'common.distribution.sharing_proposal' | trans}}
		</h4>
	</div>
	<div class="card-body">
		<div class="tableFixHead">
			<table class="table table-card mt-0">

				<thead class="thead-dark">
					<tr>
						<th>{{'common.listing.reference' | trans}}</th>
						<th>{{'common.listing.brand' | trans}}</th>
						<th>{{'common.listing.packaging-short' | trans}}</th>
						<th>{{'common.listing.packing' | trans}}</th>
						{# The label is packing but the value displayed is pieceNumber from sharing proposal #}
						<th>{{'common.listing.unitary_price' | trans}}</th>
						<th class="text-center">{{'common.listing.unit' | trans}}</th>
						<th class="text-center">{{'common.listing.quantity' | trans}}</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					{% for catalogue in catalogueNamesForSharingProposal %}
						{% for product in form.product %}
							{% if product.vars.data.orderOrigin is constant( 'ORDERORIGIN_SHARE', product.vars.data) %}
								{% if product.vars.data.item.catalogueId.name == catalogue %}
									{# Header #}
									<tr class="product-header">
										<td colspan="3" class="product-header-title">{{ product.vars.data.item.catalogueId.name }}</td>
										<td colspan="4" style="font-weight:bold;">{{ product.vars.data.item.designation }}</td>
										<td
											class="text-right">
											{# Dirty fix here, see ProductType.php #}
											{{ form_row(product.Remove, {'icon': 'oi-trash',}) }}
										</td>
									</tr>

									<tr class="product-row">
										<td>{{ (product.vars.data.item.reference) }}</td>
										<td>{{ product.vars.data.item.brand }}</td>
										<td>{{ product.vars.data.item.packaging }}</td>
										<td>{{ product.vars.data.relatedSharedProduct.pieceNumber }}</td>
										<td>{{ displayUnitaryPrice(product.vars.data.relatedSharedProduct)|format_currency('EUR')}}</td>
										<td>{{ form_row(product.productUnit) }}</td>
										<td>{{ form_row(product.quantityDec) }}</td>
										<td></td>
									</tr>

									{# Comments #}
									{% if product.vars.data.relatedSharedProduct.comment %}
										<tr class="product-comment-row">
											<td colspan="9" class="product-comment">
												<span class="oi oi-comment-square"></span>
												{{ product.vars.data.relatedSharedProduct.comment }}
											</td>
										</tr>
									{% endif %}
									{% if product.vars.data.item.comment %}
										<tr class="product-comment-row">
											<td colspan="9" class="product-comment">
												<span class="oi oi-double-quote-serif-left"></span>
												{{ product.vars.data.item.comment }}
											</td>
										</tr>
									{% endif %}

									{# Only to do a clean border #}
									<tr class="product-end-row">
										<td colspan="10" class="product-end"></td>
									</tr>

									{# Spacer for next product #}
									<tr class="spacer">
										<td colspan="10"></td>
									</tr>

								{% endif %}
							{% endif %}
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="11">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>


<div class="card mb-4">
	<div class="card-header text-white bg-info">
		<h4>
			<span class="oi oi-spreadsheet"></span>
			{{'common.distribution.individual_order' | trans}}
		</h4>
	</div>
	<div class="card-body">

		<div class="tableFixHead">
		
			<table class="table table-card mt-0">
		
				<thead class="thead-dark">
					<tr>
						<th>{{'common.listing.reference' | trans}}</th>
						<th>{{'common.listing.brand' | trans}}</th>
						<th>{{'common.listing.packaging-short' | trans}}</th>
						<th>{{'common.listing.packing' | trans}}</th>
						<th>{{'common.listing.min_packing' | trans}}</th>
						<th>{{'common.listing.unitary_price' | trans}}</th>
						<th class="text-center">{{'common.listing.unit' | trans}}</th>
						<th class="text-center">{{'common.listing.quantity' | trans}}</th>
						<th class="text-center">{{'common.listing.pre_order-short' | trans}}</th>
						<th></th>
					</tr>
				</thead>
		
				<tbody>
					{% for catalogue in catalogueNamesForIndividual %}
						{% for product in form.product %}
							{% if product.vars.data.orderOrigin is constant( 'ORDERORIGIN_INDIVIDUAL', product.vars.data) %}
								{% if product.vars.data.item.catalogueId.name == catalogue %}
									{# Header #}
									<tr class="product-header">
										<td colspan="3" class="product-header-title">{{ product.vars.data.item.catalogueId.name }}</td>
										<td colspan="6" style="font-weight:bold;">{{ product.vars.data.item.designation }}</td>
										<td class="text-right">
											{# Dirty fix here, see ProductType.php #}
											{{ form_row(product.Remove, {'icon': 'oi-trash',}) }}
										</td>
									</tr>
		
									<tr class="product-row">
										{# <td>{{ product.vars.data.item.catalogueId.name }}</td> #}
		
										<td>{{ (product.vars.data.item.reference) }}</td>
										<td>{{ product.vars.data.item.brand }}</td>
										<td>{{ form_row(product.packaging) }}</td>
										<td>{{ product.vars.data.item.packing }}</td>
										<td>{{ product.vars.data.item.minPacking }}</td>
										<td>
											{# Display unpacked price if product is a piece #}
											{% if product.vars.data.productUnit is constant ('PRODUCTUNIT_PIECE', product.vars.data) and product.vars.data.item.unpackedPrice is not null %}
		
												{{ product.vars.data.item.unpackedPrice |format_currency('EUR')}}
											{% else %}
												{{ product.vars.data.item.unitaryPrice |format_currency('EUR')}}
											{% endif %}
										</td>
										<td>
											{{ form_row(product.productUnit) }}
										</td>
										<td>
											{{ form_row(product.quantityDec) }}
										</td>
										<td width="50" class="text-center">
											{{ form_row(product.preOrder) }}
										</td>
										<td></td>
									</tr>
		
									{# Comments #}
									{% if product.vars.data.item.comment %}
										<tr>
											<td colspan="10" class="product-comment">
												<span class="oi oi-double-quote-serif-left"></span>
												{{ product.vars.data.item.comment }}
											</td>
										</tr>
									{% endif %}
		
									{# Only to do a clean border #}
									<tr class="product-end-row">
										<td colspan="10" class="product-end"></td>
									</tr>
		
		
									{# Spacer for next product #}
									<tr class="spacer">
										<td colspan="10"></td>
									</tr>
		
								{% endif %}
							{% endif %}
						{% endfor %}
					{% else %}
						<tr>
							<td colspan="12">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="card my-3">
	<div class="card-body">
		{{include('shop/basket/_price.html.twig')}}
	</div>
	<div class="card-footer ">
		<div class="form-row mt-2">
			{{ form_row(form.Refresh, {'icon': {'icon': 'oi-check', 'marginright': true}, 'attr': {'class': 'btn btn-success mx-1'}}) }}
			{{ form_row(form.Order, {'icon': {'icon': 'oi-credit-card', 'marginright':true}}) }}
		</div>
	</div>
</div>

{{ form_widget(form._token) }}

{{ form_end(form, {'render_rest': false}) }}
