<table>
	<tr>
		<td class="text-right">{{'shop.basket_order.price' | trans}}:</td>
		<td class="text-right" id="price-value">{{ basket.price |format_currency('EUR', {fraction_digit: 0}) }}</td>
	</tr>
	<tr>
		<td class="text-right">
			<span class="oi oi-euro"></span>
			<strong>{{'shop.basket_order.vat_price' | trans}}:</strong>
		</td>
		<td class="text-right" id="price-vat-value">{{ basket.VATPrice |format_currency('EUR', {fraction_digit: 0}) }}</td>
	</tr>
</table>

<p>
	<div class="alert alert-danger" role="alert">
		<span class="oi oi-warning"></span>
		{{'shop.basket_order.price_message.warning' | trans | raw}}
	</div>
</p>
