{% extends 'base.html.twig' %}

{% block title %}{{'shop.basket_order.basket_page_title' | trans}}


{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}


<div class="container">
	{{include('shop/basket/_listing.html.twig')}}
</div>


{% endblock %}
