{% extends 'base.html.twig' %}

{% block title %}
	{{'reset_password.check.page_title' | trans}}
{% endblock %}

{% block body %}
	<div class="container">
		<p>{{'reset_password.check.p1' | trans({'%name%':tokenLifetime|date('g')}) }}</p>
		<p>{{'reset_password.check.p2' | trans}}
			<a href="{{ path('app_forgot_password_request') }}">
				{{'reset_password.check.try_again' | trans}}
			</a>.
        </p>
	</div>
{% endblock %}
