<h1>{{'reset_password.email.title' | trans}}</h1>

<p>
	{{'reset_password.email.instruction' | trans}}
	<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{'reset_password.email.link' | trans}}</a>.
	{{'reset_password.email.expire' | trans({'%name%':tokenLifetime|date('g')})}}
</p>
