{% extends 'base.html.twig' %}

{% block title %}
	{{'reset_password.request.page_title' | trans}}
{% endblock %}

{% block body %}
	<div class="container">

		{% for flashError in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flashError }}</div>
		{% endfor %}
		<div class="card">
			<div class="card-header text-center border-info">
				<h1>{{'reset_password.request.title' | trans}}</h1>
			</div>
			<div class="card-body">
				{{ form_start(requestForm) }}
				{{ form_row(requestForm.email) }}
				<div>
					<small>
						{{'reset_password.request.text' | trans}}
					</small>
				</div>
			</div> <!-- /.card-body -->
			<div class="card-footer">
					<button class="btn btn-primary">{{'reset_password.request.button' | trans}}</button>
					{{ form_end(requestForm) }}
			</div> <!-- /.card-footer -->
		</div>

	</div>
{% endblock %}
