{% extends 'base.html.twig' %}

{% block title %}
	{{'reset_password.reset.page_title' | trans}}
{% endblock %}

{% block body %}
	<div class="container">

		<h1>{{'reset_password.reset.title' | trans}}</h1>

		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn btn-primary">{{'reset_password.reset.button' | trans}}</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
