<form class="btn-share-all"  action="{{ path('sharing_proposal_item_add_all_from_suggested_item', {id: distribution.id}) }}" method="post">
	<button class="btn btn-primary" href="">
		<span class="oi oi-pie-chart"></span>
		{{'common.buttons.add_all_items' | trans}}
	</button>
</form>


