<table class="table">
	<thead class="thead-dark">
		<tr>
			<th>{{'common.listing.actions' | trans}}</th>
			<th>{{'common.listing.producer_name' | trans}}</th>
			<th>{{'common.listing.reference' | trans}}</th>
			<th>{{'common.listing.designation' | trans}}</th>
			<th>{{'common.listing.requested_by' | trans}}</th>
		</tr>
	</thead>
	<tbody>
		{% for suggestedItem in suggestedItems %}
			<tr>
				<td>
					{{ render(controller("App\\Controller\\Worker\\SharingProposalController::addFromSuggestedItem",  { 'suggestedItem': suggestedItem.id })) }}
				</td>
				<td>{{ suggestedItem.producerName }}</td>
				<td>{{ suggestedItem.reference }}</td>
				<td>{{ suggestedItem.designation }}</td>
				<td>
					<ul>
						{% for user in suggestedItem.users %}
							<li>{{ user.username }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="23">{{'common.listing.no_record' | trans}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
