{% extends 'base.html.twig' %}

{% block title %}
	{{'worker.suggested_items.page_title' | trans}}
{% endblock %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	<div class="container">
		<div class="card " style="">
			<div class="card-header text-center border-info">
				<h3>
					<span class="oi oi-lightbulb"></span>
					{{'worker.suggested_items.title' | trans}}
				</h3>
			</div>
			<div class="card-body">
					{{include('worker/suggested_item/_listing.html.twig')}}
			</div> <!-- /.card-body -->

			{% if suggestedItems is not empty %}
				<div class="card-footer">
					{{include('worker/suggested_item/_addAllSuggestedItems.html.twig')}}
				</div>
			{% endif %} <!-- /.card-fooder -->
		</div>

	</div>

{% endblock %}
