{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'worker.suggested_items.page_title' | trans}}
{% endblock %}

{% block menubar %}

{% endblock %}

{% block pageTitle %}
	{{'worker.suggested_items.title' | trans}}
	- #{{distribution.id}}
{% endblock %}

{% block body %}

	<div class="container">
		<div class="card">
			<div class="card-body p-0">
				{{include('worker/suggested_item/_listing.html.twig')}}
				{% if  workflow_has_marked_place(distribution, 'ended') %}
					<div class="alert alert-warning my-4" role="alert">
						<span class="oi oi-warning"></span>
						{{'worker.suggested_items.index.manager.message-warning' | trans}}
					</div>
				{% endif %}
			</div>
			<div class="card-footer">
				<a class="btn btn-secondary mr-1" href="{{ path('distribution_show', {'id': distribution.id})}}#nav-sharingproposal">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back_view' | trans}}
				</a>
			</div>
		</div>
	</div>

{% endblock %}
