<div class="list-group">

<a href="{{path('help_shop_order_actions')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Vérifier, modifier ou supprimer votre commande</h5>
	</div>
	<p class="mb-1">Que faire après votre commande?</p>
</a>


</div>
