{% set submit_message = 'extra_items.delete.message' | trans %}

<form method="post" action="{{ path('extra_item_delete', {'id': item.id}) }}" onsubmit="return confirm({{submit_message}});">

    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
    <button class="btn btn-danger mr-1">
	    <span class="oi oi-trash"></span>
	    {{'common.buttons.delete' | trans}}
    </button>

</form>
