<div class="card-body">
    {{ form_start(form) }}
    {{ form_widget(form) }}
</div>

<div class="card-footer">
    <button class="btn btn-primary mr-1">{{ button_label|default('common.buttons.select' | trans) }}</button>
        <a class="btn btn-secondary" href="{{ path('extra_item') }}">
        	<i class="fas fa-undo"></i>
        	{{'common.buttons.back' | trans}}
        </a>

</div>

{{ form_end(form) }}
