<div class="card-body">

    {% if alertMessage is defined  %}
    <div class="row">
    	<div class="alert alert-info alert-dismissible fade show col-lg-12" role="alert">
    		{{'manager.item.new.message' | trans}}
    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    			<span aria-hidden="true">&times;</span>
    		</button>
    	</div>
    </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_row(form.reference) }}
    {{ form_row(form.designation) }}
    {{ form_row(form.unitaryPrice) }}
    {% if form.vat is defined %}
        {{ form_row(form.vat) }}
    {% endif %}

    <br><hr><br>
    {{ form_rest(form) }}
</div>

<div class="card-footer">

    <div class="form-row">
    <button class="btn btn-primary mr-1">
        <span class="oi oi-chevron-right"></span>
	    {{ button_label|default('common.buttons.save' | trans) }}
    </button>

    {{ form_end(form) }}
    
    <a class="btn btn-secondary mr-1" href="{{ path('extra_item') }}">
        <span class="oi oi-action-undo"></span>
	    {{'common.buttons.back' | trans}}
    </a>

{% if deleteButton is defined  %}

	{{ include('extra_item/_delete_form.html.twig') }}

{% endif %}

</div>

</div>
