{% extends 'base.html.twig' %}

{% if form.vat is defined %}
	{% form_theme form.vat 'customizingForms/tva.html.twig' %}
{% endif %}
{% form_theme form.designation 'customizingForms/designation.html.twig' %}
{% form_theme form.reference 'customizingForms/reference.html.twig' %}


{% block title %}
	{{'extra_items.new_item.page_title' | trans}}
{% endblock %}

{% block menubar %}
	{% if is_granted('ROLE_WORKER') %}
		{{include('worker/_menubar.html.twig')}}
	{% else %}
		{{include('shop/_menubar.html.twig')}}
	{% endif %}
{% endblock %}


{% block body %}

<div class="container">

	<div class="card">
		<div class="card-header text-white text-center bg-primary">

			<h3>
				<span class="oi oi-plus"></span>
				{{'extra_items.new_item.title' | trans}}
			</h3>
		</div>

		{{ include('extra_item/_form_item.html.twig', {'alertMessage': true}) }}
		
	</div>
</div>

{% endblock %}
