{% extends 'base.html.twig' %}

{% block title %}{{'extra_items.new.page_title' | trans}}
{% endblock %}

{% block menubar %}
	{% if is_granted('ROLE_WORKER') %}
		{{include('worker/_menubar.html.twig')}}
	{% else %}
		{{include('shop/_menubar.html.twig')}}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container">

		<div class="card">
			<div class="card-header text-white text-center bg-primary">
				<h3>
					<span class="oi oi-book"></span>
					{{'extra_items.new.title' | trans}}
				</h3>
			</div>

			{{ include('extra_item/_form.html.twig') }}

		</div>

	</div>
{% endblock %}
