{% extends 'base.html.twig' %}


{% block title %}{{'extra_items.show.page_title' | trans}}

{% endblock %}

{% block menubar %}
	{% if is_granted('ROLE_WORKER') %}
		{{include('worker/_menubar.html.twig')}}
	{% else %}
		{{include('shop/_menubar.html.twig')}}
	{% endif %}
{% endblock %}



{% block body %}

	<div class="container">

		<h1>{{'extra_items.show.title' | trans}}</h1>

		{{ include('_item_show.html.twig') }}
		<div class="row">
			<a class="btn btn-secondary my-1 mr-1" href="{{ path('extra_item') }}">{{'common.buttons.back' | trans}}</a>
			<a class="btn btn-primary my-1 mr-1" href="{{ path('extra_item_edit', {'id': item.id}) }}">{{'common.buttons.edit' | trans}}</a>
			{{ include('extra_item/_delete_form.html.twig') }}
		</div>

	{% endblock %}
