<div class="list-group">
	<a href="{{path('help_manager_catalogue_add')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Ajouter un catalogue</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour ajouter un catalogue sans articles</p>
	</a>

	<a href="{{path('help_manager_catalogue_import')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Importer un catalogue</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour importer un catalogue producteur dans le site.</p>
	</a>

	<a href="{{path('help_manager_catalogue_extra')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Les catalogues extra</h5>
		</div>
		<p class="mb-1">Aide sur les catalogues extra</p>
	</a>

	<a href="{{path('help_manager_catalogue_error')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Les erreurs possibles lors de l'importation d'un catalogue</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour comprendre et contourner les erreurs d'importation</p>
	</a>

	<a href="{{path('help_manager_catalogue_archive')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Archiver / Supprimer un catalogue</h5>
		</div>
		<p class="mb-1">Comment et quand archiver / supprimer un catalogue.</p>
	</a>

</div>