{% extends 'base.html.twig' %}

{% block title %}Aide
{% endblock %}

{% block menubar %}
	<li class="nav-item">
<a class="nav-link" href="{{ path('help_manager')}}">Retour</a>


	</li>
{% endblock %}


{% block body %}

	<div class="container">

		{{ include('help/manager/catalogues/error.md')|markdown_to_html }}

	</div>
</div>{% endblock %}

