<div class="col-md-3 col-sm-6 col-12">
	<div class="info-box">
		<a href="{{ path('distribution_new') }}" class="info-box-icon bg-primary">
			<i class="far fa-plus-square"></i>
		</a>

		<div class="info-box-content">
			<span class="info-box-text">{{'widget.new_distribution' | trans}}</span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>
