<div class="card mx-1" style="width: 18rem;">
	<div class="card-body">
        <h5 class="card-title">{{ count }}</h5>
        <p class="card-text">Producteur{% if count > 1 %}s{% endif %}</p>
        <a href="{{ path('producer_index') }}" class="btn btn-primary">Manage producers</a>
	</div>
</div>
