<div class="col-md-3 col-sm-6 col-12">
	<div class="info-box">
		<a href="{{ path('distribution_show', {'id': distribution.id}) }}" class="info-box-icon bg-secondary">
			<i class="far fa-eye"></i>
		</a>

		<div class="info-box-content">
			<span class="info-box-text">{{'widget.view_distribution' | trans}}</span>
		</div>
		<!-- /.info-box-content -->
	</div>
</div>

