{% set distribution = getDistributionInProgress() %}

<div>
	<div class="row mr-auto ml-auto">
		<div class="col-sm">
			{% if workflow_has_marked_place(distribution, 'opened') %}
				{{include('shop/basket/_addBasketFromExtra.html.twig')}}
			{% endif %}
		</div>
	</div>
</div>
