{% extends 'base.html.twig' %}

{% block title %}
	{{'shop.extra_item.page_title' | trans}}

{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}


	<div class="p-5">

		<div class="card">
			<div class="card-header text-white text-center bg-primary">
				<h3>
					<span class="oi oi-plus"></span>
					{{'shop.extra_item.extra_items_for' | trans}}
					{{distribution.deliveryDate |date('Y-m-d') }}
				</h3>
			</div>
			<div class="card-body">
				{{include('_item_datatable_listing.html.twig')}}
			</div>
			<div class="card-footer">
				<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.new' | trans}}" href="{{ path('extra_catalogue_new') }}">
					<span data-feather="plus">Create New</span>
				</a>
			</div>
		</div>
	</div>


{% endblock %}
