{% set submit_message = 'admin.producer.delete.message' | trans %}

<form method="post" action="{{ path('producer_delete', {'id': producer.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producer.id) }}">
    <button class="btn btn-danger">
	    <i class="fas fa-trash-alt"></i>
	    {{'common.buttons.delete' | trans}}
    </button>
</form>
