{% extends 'dashboard.html.twig' %}

{% form_theme form.name 'customizingForms/alias.html.twig' %}

{% block title %}{{'admin.producer.edit.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.producer.edit.title' | trans}}
{% endblock %}

{% block body %}
	
	{{ include('admin/producer/_form.html.twig', {'button_label': 'common.buttons.update' | trans, 'deleteButton': true}) }}

{% endblock %}
