{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'admin.producer.index.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.producer.index.title' | trans}}
{% endblock %}


{% block body %}

	<div class="card">
		<div class="card-body p-0">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{'admin.producer.listing.name' | trans}}</th>
						<th>{{'admin.producer.listing.code' | trans}}</th>
						<th>{{'admin.producer.listing.phone' | trans}}</th>
						<th>{{'admin.producer.listing.mail' | trans}}</th>
						<th style="width: 140px">{{'admin.producer.listing.actions' | trans}}</th>

					</tr>
				</thead>
				<tbody>
					{% for producer in producers %}
						<tr>
							<td>{{ producer.name }}</td>
							<td>{{ producer.code }}</td>
							<td>{{ producer.phone }}</td>
							<td>{{ producer.email }}</td>
							<td>
								<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('producer_show', {'id': producer.id}) }}">
									<i class="fas fa-eye"></i>
								</a>
								<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('producer_edit', {'id': producer.id}) }}">
									<i class="fas fa-pen"></i>
								</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.new' | trans}}" href="{{ path('producer_new') }}">
				<i class="fas fa-plus"></i>
			</a>
		</div>

	</div>


	

{% endblock %}
