{% extends 'dashboard.html.twig' %}

{% form_theme form.name 'customizingForms/alias.html.twig' %}

{% block title %}
	{{'admin.producer.new.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.producer.new.title' | trans}}
{% endblock %}


{% block body %}
	
	{{ include('admin/producer/_form.html.twig') }}

{% endblock %}
