{% extends 'dashboard.html.twig' %}


{% block title %}
	{{'admin.producer.show.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'admin.producer.show.title' | trans}}
{% endblock %}


{% block body %}
	

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Informations</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body p-0">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ producer.id }}</td>
					</tr>
					<tr>
						<th>{{'admin.producer.listing.code' | trans}}</th>
						<td>{{ producer.code }}</td>
					</tr>
					<tr>
						<th>{{'admin.producer.listing.name' | trans}}</th>
						<td>{{ producer.name }}</td>
					</tr>
					<tr>
						<th>{{'admin.producer.listing.phone' | trans}}</th>
						<td>{{ producer.phone }}</td>
					</tr>
					<tr>
						<th>{{'admin.producer.listing.mail' | trans}}</th>
						<td>{{ producer.email }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<div class="row">
				<a class="btn btn-secondary mr-1" href="{{ path('producer_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans}}
				</a>
				<a class="btn btn-primary mr-1" href="{{ path('producer_edit', {'id': producer.id}) }}">
					<i class="fas fa-edit"></i>
					{{'common.buttons.edit' | trans}}
				</a>
				{{ include('admin/producer/_delete_form.html.twig') }}
			</div>
		</div>
	</div>

{% endblock %}
