<div class="card-body">

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
</div>

<div class="card-footer">

    <button class="btn btn-primary mr-1">
	    <span class="oi oi-chevron-right"></span>
	    {{ button_label|default('common.buttons.save' | trans) }}
    </button>

    {{ form_end(form) }}
    <a class="btn btn-secondary mr-1" href="{{ path('worker_catalogue_index') }}">
	    <span class="oi oi-action-undo"></span>
	    {{'common.buttons.back' | trans}}
    </a>
</div>

