{% extends 'base.html.twig' %}


{% block title %}
	{{'manager.catalogue.edit.page_title' | trans}}
{% endblock %}

{% block body %}
<div class="container">
<div class="card card-light">
	<div class="card-header">

	<h3>{{'manager.catalogue.edit.title' | trans}}</h3>

</div>

	{{ include('worker/catalogue/_form.html.twig', {'button_label': 'common.buttons.update' | trans}) }}

</div>


	{# <div class="row">
		<a class="btn btn-secondary my-1 ml-3 mr-1" href="{{ path('worker_catalogue_index') }}">{{'common.buttons.back' | trans}}</a>
	</div> #}

</div>
{% endblock %}

{% block javascripts %}
	<script src="/scripts/dropbox.js"></script>
{% endblock %}
