{% extends 'base.html.twig' %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block title %}
	{{'worker.catalogue.index.page_title' | trans}}

{% endblock %}


{% block body %}

	<div class="container">

		
		<div class="card " style="">
			<div class="card-header text-center border-info">
				<h3>
					<span class="oi oi-book"></span>
					{{'worker.catalogue.index.title' | trans}}
				</h3>
			</div>

			<div class="card-body">

				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>{{'manager.catalogue.listing.name' | trans}}</th>
							<th>{{'manager.catalogue.listing.status' | trans}}</th>
							<th>{{'manager.catalogue.listing.type' | trans}}</th>
							<th>{{'manager.catalogue.listing.comment' | trans}}</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for catalogue in catalogues %}
							<tr>
								<td>{{ catalogue.id }}</td>
								<td>{{ catalogue.name }}</td>
								<td>
									{% if catalogue.statusName == 'online' %}
										<button type="button" disabled class="btn btn-outline-success btn-block">{{ catalogue.status | getCatalogueStatus }}</button>
									{% else %}
										<button type="button" disabled class="btn btn-outline-danger btn-block">{{ catalogue.status | getCatalogueStatus }}</button>
									{% endif %}
								</td>
								<td>{{ catalogue.type | catalogueType }}</td>
								<td>{{ catalogue.comment }}</td>
								<td>
									<a class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('worker_catalogue_edit', {'id': catalogue.id}) }}">
										<span data-feather="edit-2">Edit</span>
									</a>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">{{'common.listing.no_record' | trans}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div> <!-- /.card-body -->

			<div class="card-footer">
					<div class="row">
						<a class="btn btn-primary mx-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.import' | trans}}" href="{{ path('worker_catalogue_new') }}">
							<span data-feather="file-plus">Create New</span>
						</a>
						<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('worker_distribution_edit', {'id': distribution.id}) }}">
							<span data-feather="link">Edit</span>
						</a>
					</div>
			</div> <!-- /.card-body -->

		</div> <!-- /.card -->


		<div class="border border-danger rounded p-3 mt-4">
			<h4>
				{{'worker.catalogue.index.to_add' | trans}}
			</h4>

			<div class="row">
				<ul class="list-unstyled col-lg-12">
					{% for catalogueType, name in missingCatalogues %}
						<li>
							{% if catalogueType == 'RelaisVert_Mercuriale_FruitsLegumes' %}
								<div class="alert alert-danger col-lg-12" role="alert">
									<span data-feather="alert-circle">Alert</span>
									{{'worker.catalogue.index.mandatory' | trans}}
									{{ name }}

								</div>
							{% else %}
								<div class="alert alert-warning col-lg-12" role="alert">
									<span data-feather="alert-triangle">Alert</span>
									{{'worker.catalogue.index.optional' | trans}}
									{{ name }}
								</div>
							{% endif %}
						</li>
					{% else %}
						<div class="alert alert-success col-lg-12" role="alert">
							<span data-feather="check">Alert</span>
							{{'worker.catalogue.index.nothing' | trans}}
						</div>

					{% endfor %}
				</ul>
			</div>
		</div>

	<div>

{% endblock %}
