{% extends 'base.html.twig' %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block title %}
	{{'manager.catalogue.new.page_title' | trans}}
{% endblock %}

{% block body %}
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key={{ dropbox_app_key }}></script>

<div class="container">
    <h1>{{'manager.catalogue.new.title' | trans}}</h1>

    {{ include('manager/catalogue/_form.html.twig', {'workerBackButton': true}) }}
</div>
{% endblock %}

{% block javascripts %}
<script src="/scripts/dropbox.js"></script>
<script src="/scripts/fileform.js"></script>
{% endblock %}
