<div class="list-group">

	<a href="{{path('help_user_credentials_edit')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Modifier vos identifiants</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour modifier vos identifiants</p>
	</a>

	<a href="{{path('help_user_credentials_lost')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Perte de vos identifiants</h5>
		</div>
		<p class="mb-1">Comment faire lorsque vous avez perdu vos identifiants?</p>
	</a>

</div>
