{% extends 'base.html.twig' %}

{% block title %}Aide - Profil utilisateur
{% endblock %}

{% block menubar %}
	<li class="nav-item">
		<a class="nav-link" href="{{ path('help_user')}}">Retour</a>

	</li>
{% endblock %}


{% block body %}

	<div class="container">

		{{ include('help/user/credentials/lost.md')|markdown_to_html }}

	</div>
</div>{% endblock %}
