<div style="width: 90px; padding-left:10px;">
	<div class="row">
		<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('item_show', {'id': row.id}) }}">
			<i class="fas fa-eye"></i>
		</a>
		<a class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('item_edit', {'id': row.id}) }}">
			<i class="fas fa-pen"></i>
		</a>
	</div>
</div>
