<div class="card card-light">
	<div class="card-header">
		<h3 class="card-title">Informations sur l'article</h3>
	</div>
	<div class="card-body">
		{% if message is defined  %}
			<div class="row">
				<div class="alert alert-info alert-dismissible fade show col-lg-12" role="alert">
					{{message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
	    {% endif %}

    	{{ form_start(form) }}
    	{{ form_row(form.reference) }}
    	{{ form_row(form.designation) }}
    	{{ form_row(form.unitaryPrice) }}
    	{% if ((form.vat is defined)) %}
    		{{ form_row(form.vat) }}
    	{% endif %}
    	<br><hr><br>
    	{{ form_rest(form) }}


    </div>
    <!-- /.card-body -->
    <div class="card-footer">
    	<div class="row">
    		{{ form_rest(form) }}

    		<button class="btn btn-primary">
    			<i class="fas fa-save"></i>
    			{{ button_label|default('common.buttons.save' | trans) }}
    		</button>
    		{{ form_end(form) }}
            {% if editButton is defined  %}
                <a class="btn btn-secondary mx-1" href="{{ path('manager_item_index', {catalogue: item.catalogueId.id}) }}">
			{% elseif editWorkerButton is defined  %}
				<a class="btn btn-secondary mx-1" href="{{ path('worker_item_edit_index', {catalogue: item.catalogueId.id}) }}">
            {% else %}
                <a class="btn btn-secondary mx-1" href="{{ path('manager_item_index') }}">
            {% endif %}
    			<i class="fas fa-undo"></i>
    			{{'common.buttons.back' | trans}}
    		</a>
    		{% if deleteButton is defined  %}
	            {{ include('manager/item/_delete_form.html.twig') }}
    		{% endif %}
    	</div>
    </div>
</div>
