{% extends 'dashboard.html.twig' %}

{% if form.vat is defined %}
	{% form_theme form.vat 'customizingForms/tva.html.twig' %}
{% endif %}
{% form_theme form.designation 'customizingForms/designation.html.twig' %}
{% form_theme form.reference 'customizingForms/reference.html.twig' %}

{% block title %}{{'manager.item.edit.page_title' | trans}}{% endblock %}

{% block pageTitle %}
	{{'manager.item.edit.title' | trans}}
{% endblock %}


{% block body %}

{{ include('manager/item/_form.html.twig', {'button_label':'common.buttons.update' | trans, 'editButton': item.catalogueId.id, 'deleteButton': true,}) }}



{% endblock %}
