{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'manager.item.import.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.item.import.title' | trans}}
{% endblock %}


{% block body %}

	<!-- Mandatory JS before page loading -->
	<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key={{ dropbox_app_key }}></script>

	<div class="card card-light">
		<div class="card-header">
			<h3 class="card-title">Informations</h3>
		</div>
		<div class="card-body">

			{{ form_start(form) }}
			{{ form_errors(form) }}

			{{ form_row(form.type) }}

			<div class="row">
				<div class="col">
					{{ form_row(form.dropboxFile) }}
				</div>
				<div class="col">
					{{ form_row(form.spreadsheetFile) }}
					<i class="fas fa-exchange-alt"></i>
					Convertisseur de fichier .pdf en ligne:
					<a href="https://document.online-convert.com/fr/convertir-en-xlsx">Online-Convert</a>
				</div>
			</div>

		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<div class="row">


				<button class="btn btn-primary" id="catalogue-new">
					<i class="fas fa-file-upload"></i>
					{{ button_label|default('common.buttons.upload' | trans) }}
				</button>

				{{ include('manager/catalogue/_modal.html.twig') }}
				{{ form_end(form) }}
			</div>
		</div>
	</div>


{% endblock %}

{% block javascripts %}
	<script src="/scripts/dropbox.js"></script>
{% endblock %}
