{% extends 'dashboard.html.twig' %}

{% form_theme form 'customizingForms/catalogueSearch.html.twig' %}

{% block title %}
	{{'manager.item.index.page_title' | trans}}
{% endblock %}

{% block pageTitle %}{% endblock %}


{% block body %}

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Recherche</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
				<div class="row">
					<div class="col-sm-12 col-md-6"></div>
					<div class="col-sm-12 col-md-6"></div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						{{include('_form_catalogue_search.html.twig')}}
					</div>
				</div>
			</div>
		</div>
		<!-- /.card-body -->
	</div>

	{% if catalogue is not null  %}

		<div class="card">
			<div class="card-header">
				<h3 class="card-title">{{'manager.item.index.title' | trans}}
					{{catalogue.name}}</h3>
			</div>
			<!-- /.card-header -->
			<div class="card-body">
				<div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
					<div class="row">
						<div class="col-sm-12 col-md-6"></div>
						<div class="col-sm-12 col-md-6"></div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							{{include('_item_datatable_listing.html.twig')}}

						</div>
					</div>
				</div>
			</div>
			<!-- /.card-body -->
			<div class="card-footer">
				<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.new' | trans}}" href="{{ path('item_new', {cat_id: catalogue.id}) }}">
					<i class="fas fa-plus"></i>
				</a>
				<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.import' | trans}}" href="{{ path('item_import', {cat_id: catalogue.id}) }}">
					<i class="fas fa-file-import"></i>
				</a>
			</div>
		</div>

	{% endif %}

{% endblock %}
