{% extends 'dashboard.html.twig' %}

{% if form.vat is defined %}
	{% form_theme form.vat 'customizingForms/tva.html.twig' %}
{% endif %}
{% form_theme form.designation 'customizingForms/designation.html.twig' %}
{% form_theme form.reference 'customizingForms/reference.html.twig' %}

{% block title %}
	{{'manager.item.new.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.item.new.title' | trans}}
{% endblock %}


{% block body %}

	{{ include('manager/item/_form.html.twig', {'message' : 'manager.item.new.message' | trans,}) }}

{% endblock %}
