{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'manager.item.show.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.item.show.title' | trans}}
{% endblock %}


{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Informations</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body p-0">
			{{ include('_item_show.html.twig') }}
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<div class="row">
<a class="btn btn-secondary mr-1" href="{{ path('manager_item_index', {catalogue: item.catalogueId.id}) }}">
	<i class="fas fa-undo"></i>
	{{'common.buttons.back' | trans}}</a>

<a class="btn btn-primary  mr-1" href="{{ path('item_edit', {'id': item.id}) }}">
	<i class="fas fa-pen"></i>
	{{'common.buttons.edit' | trans}}</a>

				{{ include('manager/item/_delete_form.html.twig') }}

			</div>
		</div>
	</div>


{% endblock %}
