<form action=" {{ path('suggesteditem_add', {id: row.id} ) }}" method="post" class="btn-suggest-shop">
	<button class="btn btn-info mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.suggest' | trans}}">
	<span class="oi oi-pie-chart"></span>
	</button>
</form>

