<form action=" {{ path('suggesteditem_add', {id: product.item.id} ) }}" method="post" class="btn-suggest">
	<button class="btn btn-info mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.suggest' | trans}}" href="">
	<span class="oi oi-pie-chart"></span>
	</button>
</form>

