<form action=" {{ path('suggesteditem_remove', {id: suggestedItem.id} ) }}" class="btn-remove" method="post">
	<button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.delete' | trans}}">
		<span style="font-size:smaller" data-feather="trash-2"></span>
	</button>
</form>
