{% extends 'base.html.twig' %}

{% block title %}
	{{'shop.suggested_items.page_title' | trans}}

{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	<div class="container">

		<div class="card " style="">
			<div class="card-header text-center border-info">
				<h3>
					<span class="oi oi-lightbulb"></span>
					{{'shop.suggested_items.title' | trans}}
				</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover mt-4">
					<thead class="thead-dark">
						<tr>
							<th>{{'common.listing.producer_name' | trans}}</th>
							<th>{{'common.listing.reference' | trans}}</th>
							<th>{{'common.listing.designation' | trans}}</th>
							<th>{{'common.listing.actions' | trans}}</th>
						</tr>
					</thead>
					<tbody>
						{% for suggestedItem in suggestedItems %}
							<tr>
								<td>{{ suggestedItem.producerName }}</td>
								<td>{{ suggestedItem.reference }}</td>
								<td>{{ suggestedItem.designation }}</td>
								<td>
									{{include('shop/suggested_item/_removeSuggestedItem.html.twig')}}

								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="23">{{'common.listing.no_record' | trans}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>

{% endblock %}
