{% extends 'base.html.twig' %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block title %}{{'worker.distribution.edit.page_title' | trans}}

{% endblock %}

{% block body %}

	<div class="container">

		<h1>{{'worker.distribution.edit.title' | trans}}</h1>

		{{ include('manager/distribution/_form.html.twig', {'button_label': 'common.buttons.update' | trans, 'workerBackButton': true}) }}

	</div>

{% endblock %}
