<li class="nav-item dropdown {% if ((app.request.get('_route') == 'shop_item_sharing_index') or (app.request.get('_route') == 'shop_item_index')) %}active{% endif %}">

<a class="nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="oi oi-spreadsheet"></span>
	{{'shop.menubar.dropdown01.title' | trans}}</a>

	<div class="dropdown-menu" aria-labelledby="dropdown01">
<a class="dropdown-item" href="{{ path('shop_item_sharing_index')}}">
	<span class="oi oi-pie-chart"></span>
	{{'common.distribution.sharing_proposal' | trans}}</a>

<a class="dropdown-item " href="{{ path('shop_item_index')}}">
	<span class="oi oi-spreadsheet"></span>
	{{'common.distribution.individual_order' | trans}}</a>

	</div>
</li>

<li class="nav-item dropdown {% if ((app.request.get('_route') == 'shop_bookmark_index') or (app.request.get('_route') == 'suggested_items_index')or (app.request.get('_route') == 'extra_item')) %}active{% endif %}">

<a class="nav-link dropdown-toggle " href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	<span class="oi oi-dashboard"></span>
	{{'shop.menubar.dropdown02.title' | trans}}</a>

	<div class="dropdown-menu" aria-labelledby="dropdown02">
<a class="dropdown-item " href="{{ path('shop_bookmark_index')}}">
	<span class="oi oi-bookmark"></span>
	{{'shop.menubar.dropdown02.bookmarks' | trans}}</a>

<a class="dropdown-item " href="{{ path('suggested_items_index')}}">
	<span class="oi oi-lightbulb"></span>
	{{'shop.menubar.dropdown02.suggested_items' | trans}}</a>

<a class="dropdown-item " href="{{ path('extra_item')}}">
	<span class="oi oi-plus"></span>
	{{'shop.menubar.dropdown02.extra_items' | trans}}</a>

	</div>
</li>

<li class="list-inline-item">&#160;</li>


<li class="nav-item {% if app.request.get('_route') == 'basket_index' %}active{% endif %}">

<a class="nav-link " href="{{ path('basket_index')}}">
<span class="oi oi-basket"></span>

	{{'shop.menubar.basket' | trans}}
	<span data-toggle="tooltip" data-placement="bottom" title="Panier partage"  id="shop__basket__sharedcount" class="badge badge-light">{{countBasketItems('shared') }}</span>
	<span data-toggle="tooltip" data-placement="bottom" title="Panier individuel" id="shop__basket__individualcount" class="badge badge-light">{{countBasketItems('individual') }}</span>

</a>

</li>

<li class="nav-item {% if app.request.get('_route') == 'order_show' %}active{% endif %}">

<a class="nav-link " href="{{ path('order_show')}}">
	<span class="oi oi-credit-card"></span>
	{{'shop.menubar.order' | trans}}
	<span class="badge badge-light">{{countOrdertItems() }}</span>
</a>



</li>
<li class="nav-item {% if app.request.get('_route') == 'order_index' %}active{% endif %}">

<a class="nav-link " href="{{ path('order_index')}}">
	<span class="oi oi-list"></span>
	{{'shop.menubar.orders_history' | trans}}</a>

</li>
