{% extends 'base.html.twig' %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}
	<div class="container">

		<p style="font-size:6rem;line-height:1.2;margin-top:4rem;">
			¯\_(ツ)_/¯
		<p>
		<p style="font-size:2rem;line-height:1.2;">
			{{'shop.no_distribution.no_distribution' | trans}}
		</p>

		{% if ( suggestionsAllowed is defined) and  (  suggestionsAllowed == false) %}
			<p class="lead">{{'shop.no_distribution.no_suggestions' | trans}}</p>
		{% else %}
			<p class="lead">{{'shop.no_distribution.suggestions' | trans}}
				<a  href="{{ path('shop_item_index')}}">{{'shop.no_distribution.here' | trans}}</a>
			</p>
		{% endif %}

	</div>

{% endblock %}
