<div class="list-group">
	<a href="{{path('help_admin_conf')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Fichiers .json</h5>
		</div>
	<p class="mb-1">Documentation de cataloguesDefinitions.json et DinaTemplate.json</p>

	</a>
</div>
