<div class="list-group">

<a href="{{path('help_worker_selection_suggestion')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Articles suggérés</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide sur les suggestions de partage</p>
	</a>


</div>
