<form action="{{ path('sharing_proposal_item_add', {id: row.id}) }}" method="post" class="btn-share">
	<button class="btn btn-primary " data-toggle="tooltip" data-placement="top" title="{{'common.buttons.share' | trans}}" href="" {% if workflow_has_marked_place(distribution, 'sharedone')%} disabled {% endif %} %}>
		<span class="oi oi-pie-chart"></span>
	</button>
</form>
