{# Obsolete file #}

<div class="card text-center mt-2">
    <div class="card-header d-flex justify-content-between align-items-center" style="background-color:#343a40;color:white">
        <span>{{ sharedProduct.vars.data.item.catalogueId.name }}</span>
        <span>{{sharedProduct.vars.data.item.designation}}</span>
        {% if 'shareinprogress' in workflow_marked_places(distribution) %}
        	{{ form_row(sharedProduct.Remove, {'icon': 'oi-trash',}) }}
        {% endif %}
	</div>
    <div class="card-body" style="background: #f2f2f2;">
		{# <h5 class="card-title">Special title treatment</h5> #}
		<div class="card-text">
            <div class="row">
                <table class="table table-sm table-card">
                    <thead class="">
                		<tr>
                			<th class="text-center">{{'common.listing.reference' | trans}}</th>
                			{# <th class="text-center">{{'common.listing.designation' | trans}}</th> #}
                			<th class="text-center">{{'common.listing.brand' | trans}}</th>
                			<th class="text-center">{{'common.listing.packaging' | trans}}</th>
                			<th class="text-center">{{'common.listing.packing' | trans}}</th>
                			<th class="text-center">{{'common.listing.calibre_categ' | trans}}</th>
                			<th class="text-center">{{'common.listing.unit' | trans}}</th>
                			<th class="text-center">{{'common.listing.piece_number' | trans}}</th>
                			<th class="text-center">{{'common.listing.is_cheese' | trans}}</th>
                		{# <th class="text-center">{{'common.listing.comment' | trans}}</th> #}
                			{# <th class="text-center"></th> #}
                		</tr>
                	</thead>

                	<tbody>
                        <tr class="product-row">
                        	<td>{{ sharedProduct.vars.data.item.reference }}</td>
                        	{# <td>{{ sharedProduct.vars.data.item.designation }}</td> #}
                        	<td>{{ sharedProduct.vars.data.item.brand }}</td>
                        	<td>{{ form_row(sharedProduct.packaging) }}</td>
                        	<td>{{ sharedProduct.vars.data.item.packing }}</td>
                        	<td>{{ sharedProduct.vars.data.item.calibreCateg }}</td>
                            <td width="150">
                                {% if 'shareinprogress' in workflow_marked_places(distribution) %}
                                	{{ form_row(sharedProduct.productUnit) }}
                                {% else %}
                                	{{ form_row(sharedProduct.productUnit, {'disabled': true}) }}
                                {% endif %}
                            </td>
                            <td>
                            	{% if 'shareinprogress' in workflow_marked_places(distribution) %}
                            		{{ form_row(sharedProduct.pieceNumber) }}
                            	{% else %}
                            		{{ form_row(sharedProduct.pieceNumber, {'disabled': true}) }}
                            	{% endif %}
                            </td>
                            <td width="50" class="text-center">
                            	{% if 'shareinprogress' in workflow_marked_places(distribution) %}
                            		{{ form_row(sharedProduct.isCheese) }}
                            	{% else %}
                            		{{ form_row(sharedProduct.isCheese, {'disabled': true}) }}
                            	{% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
				<div class="product-comment">
					{% if 'shareinprogress' in workflow_marked_places(distribution) %}
						{{ form_row(sharedProduct.comment) }}
					{% else %}
						{{ form_row(sharedProduct.comment, {'disabled': true, 'attr': {'placeholder': ''}}) }}
					{% endif %}
				</div>
            </div>
			
		</div>
	</div>
    {# <div class="card-footer text-muted">
    </div> #}
</div>
