

	{% set catalogueNames = [] %}
	{% for product in form.sharedProducts %}
		{% set catalogueNames =  (getCatalogueNames( catalogueNames, product.vars.data)) %}
	{% endfor %}

	{{ form_start(form) }}
	{{ form_errors(form) }}
	<div class="tableFixHead" id="tableWorkAround">

		<table class="table table-card mt-3">

			<thead class="thead-dark">
				<tr>
					<th class="text-center">{{'common.listing.reference' | trans}}</th>
					<th class="text-center">{{'common.listing.brand' | trans}}</th>
					<th class="text-center">{{'common.listing.packaging' | trans}}</th>
					<th class="text-center">{{'common.listing.packing' | trans}}</th>
					<th class="text-center">{{'common.listing.calibre_categ' | trans}}</th>
					<th class="text-center">{{'common.listing.unit' | trans}}</th>
					<th class="text-center">{{'common.listing.piece_number' | trans}}</th>
					<th class="text-center">{{'common.listing.is_cheese' | trans}}</th>
					<th class="text-center"></th>
				</tr>
			</thead>

			<tbody>

				{% for sharedProduct in form.sharedProducts | sortSharingProposal %}

							<tr class="product-header" >
								<td colspan="3" class="product-header-title">{{ sharedProduct.vars.data.item.catalogueId.name }}</td>
								<td colspan="5" style="font-weight:bold;">{{ sharedProduct.vars.data.item.designation }}</td></td>
								<td>
									{% if 'shareinprogress' in workflow_marked_places(distribution) %}
										{# Dirty fix here, see ProductType.php #}
										{{ form_row(sharedProduct.Remove, {'icon': 'oi-trash',}) }}
									{% endif %}
								</td>
							</tr>

						{# Body #}
							{# Product Row #}
							<tr class="product-row">
								<td>{{ sharedProduct.vars.data.item.reference }}</td>
								<td>{{ sharedProduct.vars.data.item.brand }}</td>
								<td>{{ form_row(sharedProduct.packaging) }}</td>
								<td>{{ sharedProduct.vars.data.item.packing }}</td>
								<td>{{ sharedProduct.vars.data.item.calibreCateg }}</td>
								<td width="150">
									{% if 'shareinprogress' in workflow_marked_places(distribution) %}
										{{ form_row(sharedProduct.productUnit) }}
									{% else %}
										{{ form_row(sharedProduct.productUnit, {'disabled': true}) }}
									{% endif %}
								</td>
								<td style="min-width:120px">
									{% if 'shareinprogress' in workflow_marked_places(distribution) %}
										{{ form_row(sharedProduct.pieceNumber) }}
									{% else %}
										{{ form_row(sharedProduct.pieceNumber, {'disabled': true}) }}
									{% endif %}
								</td>
								<td width="50" class="text-center">
									{% if 'shareinprogress' in workflow_marked_places(distribution) %}
										{{ form_row(sharedProduct.isCheese) }}
									{% else %}
										{{ form_row(sharedProduct.isCheese, {'disabled': true}) }}
									{% endif %}
								</td>
								{# Empty column #}
								<td></td>
							</tr>

							{# Comments #}
							{% if sharedProduct.vars.data.item.comment %}
								<tr class="product-comment-row">
									<td colspan="9" class="product-comment">
										<span class="oi oi-double-quote-serif-left"></span>
										{{ sharedProduct.vars.data.item.comment }}
									</td>
								</tr>
							{% endif %}
							<tr>
								<td colspan="9" class="product-comment">
									{% if 'shareinprogress' in workflow_marked_places(distribution) %}
										<span class="oi oi-comment-square"></span>
										{{ form_widget(sharedProduct.comment, {'attr':{'class': 'shareProductComment'}}) }}
									{% else %}
										{% if sharedProduct.vars.data.comment %}
											<span class="oi oi-comment-square"></span>
											{{ form_widget(sharedProduct.comment, {'disabled': true, 'attr': {'class':'shareProductComment','placeholder': ''}}) }}
										{% endif %}
									{% endif %}
								</td>
							</tr>

							{# Only to do a clean border #}
							<tr class="product-end-row">
								<td colspan="10" class="product-end"></td>
							</tr>


							{# Spacer for next product #}
							<tr class="spacer">
								<td colspan="10"></td>
							</tr>
					
				{% else %}
					<tr>
						<td colspan="9">{{'common.listing.no_record' | trans}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div class="text-right">
		<a href="{{path('help_worker_sharingproposal_erros')}}" target="_blank">Aide concernant les erreurs de la propositon de partage</a>
	</div>

{# /!\ Don't forget to call _form_end !!! #}