<div>
	{{include('worker/sharingproposal/_form_body.html.twig')}}
</div>

{# if workflowButtonsCode is not defined, it means we are in the manager view and we do'nt need the classic footer of the worker #}
{% if workflowButtonsCode is not defined %}
	{# in this case, close directly the form #}
	{{include('worker/sharingproposal/_form_end.html.twig')}}

{% else %}

	<div class="card my-4">
		<div class="card-header">
			<span class="oi oi-chevron-right"></span>
		</div>

		<div class="card-footer">

			{% if workflow_can(distribution, 'review') %}
				<div class="form-row">
					{{ form_row(form.save, {'icon': {'icon': 'oi-check', 'marginright': true}, 'attr': {'class': 'btn btn-success mx-1'}}) }}
					{{ form_row(form.submitProposition, {'icon':{'icon':  'oi-chevron-right', 'marginright': true}, 'attr': {'class': 'btn btn-primary'}}) }}
				</div>
			{% endif %}

			{{include('worker/sharingproposal/_form_end.html.twig')}}

			{% if workflowButtonsCode is defined %}
				{{workflowButtonsCode}}
			{% endif %}
			
		</div>
	</div>

{% endif %}
