{% extends 'base.html.twig' %}

{% block title %}
	{{'worker.sharing_proposal.page_title' | trans}}
{% endblock %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	<div class="container">

		{% if distribution %}

			<div class="card mb-4">
				<div class="card-header text-white text-center bg-primary">
					<h3>
						<span class="oi oi-pie-chart"></span>
						{{'shop.item.sharing_proposal_from' | trans}}
						{{ distribution.deliveryDate |date("m/d/Y")}}
					</h3>
				</div>
			</div>

			{% set workflowButtonsCode %}
				{% if workflow_can(distribution, 'open') %}
					<div class="form-row">
						<a class="btn btn-success mx-1" href="{{ path('gen_sharingproposal_dinaspreadsheet', {'id': distribution.id}) }}" role="button">
							<span class="oi oi-check"></span>
							{{'common.buttons.check_proposal_spreadsheet' | trans}}</a>
						<a class="btn btn-success mx-1" href="{{ path('mail_sharingproposal_dinaspreadsheet', {'id': distribution.id}) }}" role="button">
							<span class="oi oi-envelope-closed"></span>
							{{'common.buttons.mail_proposal_spreadsheet' | trans}}</a>
					</div>
				{% endif %}
				{% if (workflow_can(distribution, 'reject')) or (workflow_can(distribution, 'open')) %}
					<div class="form-row mt-2">
						{% if workflow_can(distribution, 'reject') %}
							<form action=" {{ path('distribution_previous',{'id': distribution.id})}}" method="POST">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-warning  mx-1">
									<span class="oi oi-pencil"></span>
									{{'common.buttons.edit_proposal' | trans}}</button>
							</form>
						{% endif %}
						{% if workflow_can(distribution, 'open') %}
							{% set submit_message = 'worker.sharing_proposal.open_sale_message' | trans  %}
							<form class="form-inline" action=" {{ path('distribution_next',{'id': distribution.id})}}" method="POST" onsubmit="return confirm('{{submit_message}}');">
								<input type="hidden" name="order" value="close">
								<button class="btn btn-primary  mx-1">
									<span class="oi oi-chevron-right"></span>
									{{'common.buttons.open_sale' | trans}}</button>
							</form>
						{% endif %}
					</div>
				{% endif %}
			{% endset %}

		{{include('worker/sharingproposal/_listing.html.twig', {'workflowButtonsCode': workflowButtonsCode})}}	

		{% else %}
			{{'worker.sharing_proposal.no_sharing_proposal' | trans}}
		{% endif %}

	</div>

{% endblock %}
