{% extends 'dashboard.html.twig' %}

{% block title %}{{'worker.sharing_proposal.page_title' | trans}}
{% endblock %}


{% block pageTitle %}
	{{'shop.item.sharing_proposal_from' | trans}}
	{{ distribution.deliveryDate |date("m/d/Y")}}
{% endblock %}


{% block body %}

	{% if distribution %}

		<div class="card">

			<div class="card-header">
				Détails de la proposition
			</div>

			<div class="card-body p-4">
				{{include('worker/sharingproposal/_form_body.html.twig')}}
			</div>
			<!-- /.card-body -->

			<div class="card-footer">
				<div class="form-row">
					<a class="btn btn-secondary mr-1" href="{{ path('distribution_show', {'id': distribution.id})}}#nav-sharingproposal">
						<i class="fas fa-undo"></i>
						{{'common.buttons.back_view' | trans}}
					</a>



					{# {{include('worker/sharingproposal/_form_footer.html.twig')}} #}
					{% if workflow_can(distribution, 'review') %}
						{# <div class="form-row"> #}
						{{ form_widget(form.submitProposition, {'icon':{'icon':  'oi-chevron-right', 'marginright': true}, 'attr': {'class': 'btn btn-primary'}}) }}
						{# </div> #}
					{% endif %}



					{{include('worker/sharingproposal/_form_end.html.twig')}}

					{# <div class="row"> #}
					
					{% if workflow_can(distribution, 'reject') %}
						<form action=" {{ path('distribution_previous',{'id': distribution.id})}}" method="POST">
							<input type="hidden" name="order" value="close">
							<button class="btn btn-warning">
								<i class="fas fa-pen"></i>
								{{'common.buttons.edit_proposal' | trans}}
							</button>
						</form>
					{% endif %}
				</div>
			</div>

		</div>


	{% else %}

		{{'worker.sharing_proposal.no_sharing_proposal' | trans}}

	{% endif %}

{% endblock %}
