{% set distribution = getDistributionInProgress() %}

<div style="width: 120px; padding-left: 10px;">
	<div class="row">
		{{include('shop/suggested_item/_addSuggestedItem.html.twig')}}
		{{include('shop/bookmark/_addBookmark.html.twig')}}
		{% if workflow_has_marked_place(distribution, 'opened') %}
			{{include('shop/basket/_addBasket.html.twig')}}
		{% endif %}
	</div>
</div>
