{% extends 'base.html.twig' %}

{% form_theme form 'customizingForms/catalogueSearch.html.twig' %}


{% block title %}{{'shop.item.page_title' | trans}}

{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}

{% block stylesheets %}
	<style>
		#itemWrapper{
			display: flex;
			justify-content: space-around;
		}

		@media (max-width: 1200px) {
			#itemWrapper{
				justify-content: flex-start;
			}

		}
	</style>
{% endblock %}



{% block body %}

	<div class="container">
		{{include('_form_catalogue_search.html.twig')}}
	</div>

	<div id="itemWrapper" class="p-4">

		<div id="listBookmarks" style="display:none">
			{{ render(controller("App\\Controller\\Shop\\BookmarkController::menuBookmarks")) }}
		</div>

		{% if catalogue is not null  %}
			<div>
				<div class="card mb-2">
					<div class="card-header text-white text-center bg-primary">
						<h3>
							<span class="oi oi-book"></span>
							{{'shop.item.items_from' | trans}}
							{{catalogue.name}}</h1>

						</h3>
					</div>
					{# <div class="card-body">
					</div> #}
				</div>
				{{include('_item_datatable_listing.html.twig')}}
			</div>

		{% endif %}

	</div>

{% endblock %}