{% extends 'base.html.twig' %}

{% block title %}
	{{'shop.item.sharing_page_title' | trans}}

{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	{% set catalogueNames = [] %}
	{% for product in sharedProducts %}

		{% set catalogueNames = getCatalogueNames( catalogueNames, product) %}
	{% endfor %}


	<div class="container">

		<div class="card mb-4">
			<div class="card-header text-white text-center bg-primary">
				<h3>
					<span class="oi oi-pie-chart"></span>
					{{'shop.item.sharing_proposal_from' | trans}}
					{{ distribution.deliveryDate |date("m/d/Y")}}
				</h3>
			</div>
		</div>

		<div class="tableFixHead">

			<table class="table table-card mt-4">
				<thead class="thead-dark">
					<tr>
						<th class="text-center">{{'common.listing.reference' | trans}}</th>
						<th><span class="oi oi-globe"></span></th>
						<th class="text-center">{{'common.listing.brand' | trans}}</th>
						<th>{{'common.listing.packaging-short' | trans}}</th>
						<th class="text-center">{{'common.listing.unit' | trans}}</th>
						<th class="text-center">{{'common.listing.unitary_price' | trans}}</th>
						<th class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					
						{% for sharedProduct in sharedProducts | sortSharingProposal %}

								{# Header #}
								<tr class="product-header">
									<td colspan="3" class="product-header-title">{{ sharedProduct.item.catalogueId.name }}</td>
									<td colspan="3" style="font-weight:bold;">{{ sharedProduct.item.designation }}</td>
									<td>
										{% if 'opened' in workflow_marked_places(distribution) %}
											{{include('shop/basket/_addBasketFromSharedProduct.html.twig')}}
										{% endif %}
									</td>
								</tr>

								<tr class="product-row">
									<td>{{ sharedProduct.item.reference }}</td>
									<td>{{ sharedProduct.item.origin | getOriginFlag(sharedProduct.item.catalogueId.format) | raw}}</td>
									<td>{{ sharedProduct.item.brand }}</td>
									<td>{{ sharedProduct.item.packaging }}</td>
									<td class="text-center">{{ sharedProduct.productUnitString | trans({},'forms')  }}</td>
									<td class="text-center">{{ displayUnitaryPrice(sharedProduct)|format_currency('EUR')}}</td>
									<td></td>

								</tr>

								{# Comments #}
								{% if sharedProduct.item.comment %}
									<tr class="product-comment-row">
										<td colspan="8" class="product-comment">
											<span class="oi oi-double-quote-serif-left"></span>
											{{ sharedProduct.item.comment }}
										</td>
									</tr>
								{% endif %}
								{% if sharedProduct.comment %}
									<tr class="product-comment-row">
										<td colspan="8" class="product-comment">
											<span class="oi oi-comment-square"></span>
											{{ sharedProduct.comment }}
										</td>
									</tr>
								{% endif %}

								{# Only to do a clean border #}
								<tr class="product-end-row">
									<td colspan="9" class="product-end"></td>
								</tr>

								{# Spacer for next product #}
								<tr class="spacer">
									<td colspan="9"></td>
								</tr>

							
						{% endfor %}
					
				</tbody>
			</table>
		</div> <!-- /.fixHead -->

	</div> <!-- /.container -->

{% endblock %}
