<div class="list-group">
	<a href="{{path('help_worker_catalogue_list')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Liste des catalogues</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide sur la liste des catalogues</p>
	</a>


	<a href="{{path('help_worker_catalogue_import')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Importer un catalogue</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour importer un catalogue producteur dans la distribution.</p>
	</a>

</div>
