

#catalogueSearch{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.typeahead,
.tt-query,
.tt-hint {
  /*width: 396px;*/
  /*height: 30px;
  padding: 0 12px;
  line-height: 1.5;*/
  /*font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;*/
}

.form-group .twitter-typeahead{
  width: calc(100% - 45px);
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

#datatable .details-control{
  width:50px;
}
/* #datatable .buttons{
  width:140px;
} */


td.details-control {
background: url('/open-iconic/png/zoom-in-2x.png') no-repeat center center;

    cursor: pointer;
}
tr.details td.details-control {
background: url('/open-iconic/png/zoom-out-2x.png') no-repeat center center;

}

/* Fixes for the basket */
td .form-group .select2{
	width:90px!important;
}
td .form-group .quantity-input{
	width:90px!important;
}
td .form-group .piece-input{
  width:90px!important;
  margin-left: auto;
  margin-right: auto;
}

td .form-group .packaging-input{
  width:120px!important;
  margin-left: auto;
  margin-right: auto;
}

td .form-group .form-packaging{
	max-width:130px!important;
}

/* Dirty bugfix, we want only the <tr> to be centered, not the <th> */
th.buttons.align-middle {
    vertical-align: bottom!important;
}

td.product-comment{
  border-top: none;
  padding-top: 0;
}
td.product-end{
  border-top: none;
  padding-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-header td{
  vertical-align: middle;
  padding: 6px 12px;
  background-color:#17a2b8;
  color:white;
}
.product-header-title{
  color:rgba(255, 255, 255, 0.6)!important;
  border-top-left-radius: 10px;
}

.table-card .form-group,
.card-header .form-group,
.product-comment .form-group{
  margin-bottom: 0;
}

.product-end-row td{
  padding: 3px;
  border-top: none;
}
.spacer td{
  padding: 6px;
  border-top: none;
}

.product-end-row,
.product-comment,
.product-row{
  background: #f8f9fa;
}

.tableFixHead{ 
  overflow-y: auto; 
  height: auto; 
  max-height: 800px;
}

#tableWorkAround{ 
  max-height: none;
}

.table-card th:nth-child(1){
    border-radius: 10px 0px 0px 10px;
}
.table-card th:nth-last-child(1){
    border-radius: 0px 10px 10px 0px;
}
.table-card td:nth-child(3){
    border-top-right-radius: 10px;
}
.tableFixHead thead th { 
  position: sticky;
  top: 0;
  background-color: white; 
  z-index: 10;
  vertical-align: middle; 
}

/* To fix border disapearing when scrolling */
.tableFixHead  table {
  border-collapse: separate; /* Don't collapse */
  border-spacing: 0;
}

.shareProductComment{
  display: inline-block;
  width: calc(100% - 25px);
}


/* Animated links in navbar */
a.navbar-brand,
nav li.nav-item > a.nav-link:not(.dropdown-toggle) {
 
  transition:  all 0.2s ease-in-out;
  position: relative;
}

a.navbar-brand::before,a.navbar-brand::after,
nav li.nav-item > a.nav-link:not(.dropdown-toggle)::before,
nav li.nav-item > a.nav-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  bottom: -5px;
   left: 0;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition:  all 0.2s ease-in-out;
  transition-duration: 0.5s;
  opacity: 0;
  background-color: #18bc9c;
}

a.navbar-brand:hover::before,a.navbar-brand:hover::after,
nav li.nav-item > a.nav-link:hover:not(.dropdown-toggle)::before,
nav li.nav-item > a.nav-link:hover:not(.dropdown-toggle)::after {
  width: 100%;
  opacity: 1;
}
