{% set distribution = getDistributionInProgress() %}


{% if app.request.get('_route') == 'worker_item_index' %}
<div style="width: 30px; padding-left:10px;" class="ml-auto mr-auto">
	<div class="row">
		{{include('worker/sharingproposal/_addSharingProposal.html.twig', {'distribution':distribution})}}
	</div>
</div>
{% else %}
<div style="width: 80px; padding-left:10px;" class="ml-auto mr-auto">
	<div class="row">
			<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('worker_item_show', {'id': row.id}) }}">
				<span class="oi oi-eye"></span>
			</a>
			<a class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('worker_item_edit', {'id': row.id}) }}">
				<span class="oi oi-pencil"></span>
			</a>
	</div>
</div>

{% endif %}
