{% extends 'base.html.twig' %}

{% if form.vat is defined %}
	{% form_theme form.vat 'customizingForms/tva.html.twig' %}
{% endif %}
{% form_theme form.designation 'customizingForms/designation.html.twig' %}
{% form_theme form.reference 'customizingForms/reference.html.twig' %}

{% block title %}
	{{'worker.item.edit_page_title' | trans}}
{% endblock %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}

{% block body %}
<div class="container">
	<h1>{{'worker.item.edit_title' | trans}}</h1>

	{{ include('manager/item/_form.html.twig', {'button_label':'common.buttons.update' | trans, 'editWorkerButton': item.catalogueId.id}) }}

</div>

{% endblock %}
