{% extends 'base.html.twig' %}

{% form_theme form 'customizingForms/catalogueSearch.html.twig' %}

{% block title %}{{'shop.item.page_title' | trans}}

{% endblock %}

{% block menubar %}
	{{include('worker/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	<div class="container">
		{{include('_form_catalogue_search.html.twig')}}
	</div>

	{% if catalogue is not null  %}
		<div>
			<div class="card mt-4 ml-4">
				<div class="card-header text-white text-center bg-primary">
					<h3>
						<span class="oi oi-book"></span>
						{{'shop.item.items_from' | trans}}
						{{catalogue.name}}
					</h3>
				</div>
			</div>
			<div class="mt-2 pl-4">
					{{include('_item_datatable_listing.html.twig')}}
			</div>
			<div class="ml-4">

					<form method="post" class="btn-share-all" action="{{path('sharing_proposal_all_item_add', {'id':catalogue.id})}}">
						<button class="btn btn-primary" {% if catalogue.format != 'Format_DINA_Producer' %} disabled {% endif %}>
							<span class="oi oi-pie-chart"></span>
							{{'common.buttons.add_all_items' | trans}}
						</button>
					</form>
			</div>
		<div>
	{% endif %}

{{ render(controller("App\\Controller\\Worker\\SuggestedItemController::areSuggestedItems")) }}

{% endblock %}
