<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'worker.suggested_items.modal.title' | trans}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                {% if suggestedItems is not empty %}
                    {{'worker.suggested_items.modal.body.message' | trans}}
                {% else %}
                    {{'worker.suggested_items.modal.body.no_suggest' | trans}}
                {% endif %}
                    <br>{{'worker.suggested_items.modal.body.check_mail' | trans}}
			</div>
			<div class="modal-footer">
                {% if suggestedItems is not empty %}
                    <a href="{{ path('worker_suggested_items_index')}}" class="btn btn-primary" role="button">{{'worker.suggested_items.modal.buttons.goto' | trans}}</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'worker.suggested_items.modal.buttons.later' | trans}}</button>
                {% else %}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'worker.suggested_items.modal.buttons.close' | trans}}</button>
                {% endif %}
			</div>
		</div>
	</div>
</div>

<script>

// $('#exampleModal').modal('show')

$(document).ready(function () {
var dialogShown = sessionStorage.getItem('dialogShown')

if (! dialogShown) {
$('#exampleModal').modal('show')
sessionStorage.setItem('dialogShown', 1)
}

});


</script>
