{% extends 'dashboard.html.twig' %}

{% block title %}{{'manager.item.show.page_title' | trans}}
{% endblock %}

{% block body %}

	<h1>{{'worker.item.show.title' | trans}}</h1>

	{{ include('_item_show.html.twig') }}

	<div class="row">
		<a class="btn btn-secondary  my-1 mr-1" href="{{ path('worker_item_edit_index', {catalogue: item.catalogueId.id}) }}">{{'common.buttons.back' | trans}}</a>
		<a class="btn btn-primary  my-1 mr-1" href="{{ path('worker_item_edit', {'id': item.id}) }}">{{'common.buttons.edit' | trans}}</a>
	</div>

{% endblock %}
