{{ form_start(form, {'attr': {'class': 'search__items__form'}}) }}

{% if catalogue is  null  %}
	<div class="card border-info">
		<div class="card-body">
			<div class="form-group align-items-center ">
				<div class="form-group">
					{{ form_widget(form.catalogue) }}
					{{ form_help(form.catalogue) }}
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-lg">Sélectionner</button>
				</div>
			</div>
		</div>
	</div>

{% else %}

	<div class="card border-info" style="">
		<div class="card-body">
			{# <div class="form-row align-items-top "> #}
			<div id="catalogueSearch">
				<div class="form-group mr-1" style="max-width:150px;">
					{{ form_widget(form.catalogue) }}
					{{ form_help(form.catalogue) }}
				</div>
				<div class="form-group mr-2">
					<button class="btn btn-primary">Sélectionner</button>
				</div>
				<div class="form-group" style="flex-grow:1;">
					{{ form_row(form.searchText,  {'attr': {'class': 'form-control typeahead tt-query'}}) }}
				</div>
				<div class="form-group ml-2">
					<a href="#" id="filters-button" class="btn btn-outline-info" onclick="toggleFilters()" title="Afficher les filtres">
						<span class="oi oi-plus"></span>
					</a>
					{% if app.request.get('_route') == 'shop_item_index' %}
						<a href="#" id="bookmarks-button" class="btn btn-outline-info" onclick="toogleBookmarks()" title="Afficher les favoris">
							<span class="oi oi-bookmark"></span>
						</a>
					{% endif %}	
				</div>
			</div>

			<div class="form-row align-items-end" id="searchFilters">
				<div class="col-md">
					{{ form_row(form.origins,  {'attr': {'class': 'search__items__origins', 'data-catalogue-id':catalogue.id}}) }}
				</div>
				<div class="col-md">
					{{ form_row(form.families,  {'attr': {'class': 'search__items__families'}}) }}
				</div>
				<div class="col-md">
					{{ form_row(form.brands,  {'attr': {'class': 'search__items__brands'}}) }}
				</div>
			</div>

		</div>
	</div>

{% endif %}

{{ form_end(form) }}

<script>

var wrapperJustifyValue;

$(document).ready(function () {
	let filters = document.getElementById("searchFilters");
	let bookmarks = document.getElementById("listBookmarks");
	let bookmarButton = document.getElementById('bookmarks-button');
	let wrapper = document.getElementById("itemWrapper");

	if (filters) {
		filters.style.display = "none";
	}

	if (bookmarks && ('none' != getComputedStyle(bookmarButton).display)) {
		let bookmarkMenuStatus = getCookie('bookmarkMenu')
		if('opened' == bookmarkMenuStatus){
			bookmarks.style.display = "";
			// Put in flex-start for all screens sizes
			wrapper.style.justifyContent='flex-start';
		}
	}
})

function toggleFilters() {
	let filters = document.getElementById("searchFilters");
	let icon = document.querySelector("#filters-button span");

	if (filters.style.display === "none") {
		filters.style.display = "";
		icon.setAttribute('class', "oi oi-minus");
	} else {
		filters.style.display = "none";
		icon.setAttribute('class', "oi oi-plus");
	}
}

function toogleBookmarks() {

	let bookmarks = document.getElementById("listBookmarks");
	let wrapper = document.getElementById("itemWrapper");

	if (bookmarks.style.display === "none") {
		bookmarks.style.display = "";
		// Put in flex-start for all screens sizes
		wrapper.style.justifyContent='flex-start';
		document.cookie = "bookmarkMenu=opened; expires=Thu, expires=Fri, 31 Dec 9999 23:59:59 GMT";
	} else {
		bookmarks.style.display = "none";
		// Come back to original value
		wrapper.style.justifyContent=wrapperJustifyValue;
		document.cookie = "bookmarkMenu=closed; expires=Thu, expires=Fri, 31 Dec 9999 23:59:59 GMT";
	}
}

function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
</script>
