{% use "bootstrap_4_layout.html.twig" %}


{%- block datetime_widget -%}
	{% if widget == 'single_text' %}
		<div class="input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">
					<span class="oi oi-calendar"></span>
				</span>

			</div>
			{{- block('form_widget_simple') -}}
		</div>
	{%- else -%}
		<div {{ block('widget_container_attributes') }}>
			{{- form_errors(form.date) -}}
			{{- form_errors(form.time) -}}
			{{- form_widget(form.date) -}}
			{{- form_widget(form.time) -}}
		</div>
	{%- endif -%}
{%- endblock datetime_widget -%}


{%- block email_widget -%}
	{%- set type = type|default('email') -%}
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">@</span>
		</div>
		{{ block('form_widget_simple') }}
	</div>
{%- endblock email_widget -%}

{%- block password_widget -%}
	{%- set type = type|default('password') -%}
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<span class="oi oi-key"></span>
			</span>
		</div>
		{{ block('form_widget_simple') }}
	</div>
{%- endblock password_widget -%}


{%- block button_widget -%}
{% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}

{%- if label is empty -%}
	{%- if label_format is not empty -%}
		{% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
	{%- elseif label is not same as(false) -%}
		{% set label = name|humanize %}
	{%- endif -%}
{%- endif -%}
{% if icon|default %}
{% if icon is iterable  %}
{% set iconHtml = '<span class="oi ' ~ icon.icon ~ '" style="margin-right:5px;"></span>' %}
{% else %}
{% set iconHtml = '<span class="oi ' ~ icon ~ '"></span>' %}
{% endif %}
{% else %}
	{% set iconHtml = '' %}
{% endif %}

<button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ iconHtml|raw }}{{ translation_domain is same as(false) or label is same as(false) ? label : label|trans(label_translation_parameters, translation_domain) }}</button>

{%- endblock button_widget -%}

{# see https://stackoverflow.com/questions/27905939/can-i-put-html-inside-a-symfony-form-button-with-twig
https://symfony.com/doc/current/form/create_form_type_extension.html
 #}
