{% set mapping = keysMapping(item.catalogueId.type) %}

<table class="table">
	<tbody>
		<tr>
			<th style="width:20%">Id</th>
			<td>{{ item.id }}</td>
		</tr>
		<tr>
			<th>{{mapping.reference}}</th>
			<td>{{ item.reference }}</td>
		</tr>
		<tr>
			<th>{{mapping.designation}}</th>
			<td>{{ item.designation }}</td>
		</tr>
		{% if ((mapping.packaging is defined) and (mapping.packaging is not null)) %}
			<tr>
				<th>{{mapping.packaging}}</th>
				<td>{{ item.packaging }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.inspection is defined) and (mapping.inspection is not null)) %}
			<tr>
				<th>{{mapping.inspection}}</th>
				<td>{{ item.inspection }}</td>
			</tr>
		{% endif %}
		{% if (( mapping.brand is defined) and (mapping.brand is not null))  %}
			<tr>
				<th>{{mapping.brand}}</th>
				<td>{{ item.brand }}</td>
			</tr>
		{% endif %}
		{% if ( (mapping.origin is defined) and (mapping.origin is not null))  %}
			<tr>
				<th>{{mapping.origin}}</th>
				<td>{{ item.origin }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.label is defined) and (mapping.label is not null))  %}
			<tr>
				<th>{{mapping.label}}</th>
				<td>{{ item.label }}</td>
			</tr>
		{% endif %}
		{% if ( (mapping.family is defined) and (mapping.family is not null))  %}
			<tr>
				<th>{{mapping.family}}</th>
				<td>{{ item.family }}</td>
			</tr>
		{% endif %}
		<tr>
			<th>{{mapping.unitaryPrice}}</th>
			<td>{{ item.unitaryPrice  |format_currency('EUR')}}</td>
		</tr>
		{% if ((mapping.vat is defined) and  (mapping.vat is not null)) %}
			<tr>
				<th>{{mapping.vat}}</th>
				<td>{{ item.vat }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.calibre_categ is defined) and  (mapping.calibre_categ is not null)) %}
			<tr>
				<th>{{mapping.calibre_categ}}</th>
				<td>{{ item.calibreCateg }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.packing is defined) and (mapping.packing is not null))  %}
			<tr>
				<th>{{mapping.packing}}</th>
				<td>{{ item.packing }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.minPacking is defined) and (mapping.minPacking is not null))  %}
			<tr>
				<th>{{mapping.minPacking}}</th>
				<td>{{ item.minPacking }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.unpackedPrice is defined) and (mapping.unpackedPrice is not null) ) %}
			<tr>
				<th>{{mapping.unpackedPrice}}</th>
				<td>
					{% if ((item.unpackedPrice is defined) and (item.unpackedPrice is not null) ) %}
						{{ item.unpackedPrice |format_currency('EUR') }}
					{% endif %}
					</td>
			</tr>
		{% endif %}
		{% if ( (mapping.EAN13 is defined) and (mapping.EAN13 is not null))  %}
			<tr>
				<th>{{mapping.EAN13}}</th>
				<td>{{ item.EAN13 }}</td>
			</tr>
		{% endif %}
		{% if ( (mapping.SKU is defined) and (mapping.SKU is not null))  %}
			<tr>
				<th>{{mapping.SKU}}</th>
				<td>{{ item.SKU }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.comment is defined) and (mapping.comment is not null))  %}
			<tr>
				<th>{{mapping.comment}}</th>
				<td>{{ item.comment }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.ed is defined) and (mapping.ed is not null))  %}
			<tr>
				<th>{{mapping.ed}}</th>
				<td>{{ item.ed }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.minOrder is defined) and (mapping.minOrder is not null))  %}
			<tr>
				<th>{{mapping.minOrder}}</th>
				<td>{{ item.minOrder }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.customField1 is defined) and  (mapping.customField1 is not null)) %}
			<tr>
				<th>{{mapping.customField1}}</th>
				<td>{{ item.customField1 }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.customField2 is defined) and (mapping.customField2 is not null)) %}
			<tr>
				<th>{{mapping.customField2}}</th>
				<td>{{ item.customField2 }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.customField3 is defined) and (mapping.customField3 is not null))  %}
			<tr>
				<th>{{mapping.customField3}}</th>
				<td>{{ item.customField3 }}</td>
			</tr>
		{% endif %}
		{% if ((mapping.customField4 is defined) and (mapping.customField4 is not null)) %}
			<tr>
				<th>{{mapping.customField4}}</th>
				<td>{{item.customField4 }}</td>
			</tr>
		{% endif %}
	</tbody>
</table>
