{# **************************************
/!\ Obsolete file!!! Remove it if no more used
*****************************************#}

{% set mapping = keysMapping(catalogue.type) %}

<table class="table" {# id="datatable" #}>
	<thead>
		<tr>
			<th>Actions</th>
			<th>{{mapping.reference}}</th>
			<th>{{mapping.designation}}</th>
			{% if mapping.packaging is defined %}
				<th>{{mapping.packaging}}</th>
			{% endif %}
			{% if mapping.inspection is defined %}
				<th>{{mapping.inspection}}</th>
			{% endif %}
			{% if mapping.brand is defined  %}
				<th>{{mapping.brand}}</th>
			{% endif %}
			{% if mapping.origin is defined  %}
				<th>{{mapping.origin}}</th>
			{% endif %}
			{% if mapping.calibre_categ is defined %}
				<th>{{mapping.calibre_categ}}</th>
			{% endif %}
			{% if mapping.label is defined %}
				<th>{{mapping.label}}</th>
			{% endif %}
			{% if mapping.family is defined  %}
				<th>{{mapping.family}}</th>
			{% endif %}
			<th>{{mapping.unitaryPrice}}</th>
			{% if mapping.vat is defined  %}
				<th>{{mapping.vat}}</th>
			{% endif %}
			{% if mapping.packing is defined  %}
				<th>{{mapping.packing}}</th>
			{% endif %}
			{% if mapping.EAN13 is defined  %}
				<th>{{mapping.EAN13}}</th>
			{% endif %}
			{% if mapping.minPacking is defined %}
				<th>{{mapping.minPacking}}</th>
			{% endif %}
			{% if mapping.unpackedPrice is defined  %}
				<th>{{mapping.unpackedPrice}}</th>
			{% endif %}
			{% if mapping.SKU is defined  %}
				<th>{{mapping.SKU}}</th>
			{% endif %}
			{% if mapping.comment is defined  %}
				<th>{{mapping.comment}}</th>
			{% endif %}
			{% if mapping.ed is defined  %}
				<th>{{mapping.ed}}</th>
			{% endif %}
			{% if mapping.minOrder is defined  %}
				<th>{{mapping.minOrder}}</th>
			{% endif %}
			{% if mapping.customField1 is defined  %}
				<th>{{mapping.customField1}}</th>
			{% endif %}
			{% if mapping.customField2 is defined %}
				<th>{{mapping.customField2}}</th>
			{% endif %}
			{% if mapping.customField3 is defined  %}
				<th>{{mapping.customField3}}</th>
			{% endif %}
			{% if mapping.customField4 is defined %}
				<th>{{mapping.customField4}}</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td>
					{{include(include(template_from_string('{{ actionsTemplate }}')))}}
				</td>
				<td>{{ item.reference }}</td>
				<td>{{ item.designation }}</td>
				{% if mapping.packaging is defined %}
					<td>{{ item.packaging }}</td>
				{% endif %}
				{% if mapping.inspection is defined %}
					<td>{{ item.inspection }}</td>
				{% endif %}
				{% if mapping.brand is defined %}
					<td>{{ item.brand }}</td>
				{% endif %}
				{% if mapping.origin is defined%}
					<td>{{ item.origin }}</td>
				{% endif %}
				{% if mapping.calibre_categ is defined %}
					<td>{{ item.calibreCateg }}</td>
				{% endif %}
				{% if mapping.label is defined %}
					<td>{{ item.label }}</td>
				{% endif %}
				{% if mapping.family is defined %}
					<td>{{ item.family }}</td>
				{% endif %}
					<td>{{ item.unitaryPrice |format_currency('EUR') }}</td>
				{% if mapping.vat is defined %}
					<td>{{ item.vat }}</td>
				{% endif %}
				{% if mapping.packing is defined %}
					<td>{{ item.packing }}</td>
				{% endif %}
				{% if mapping.EAN13 is defined %}
					<td>{{ item.EAN13 }}</td>
				{% endif %}
				{% if mapping.minPacking is defined  %}
					<td>{{ item.minPacking }}</td>
				{% endif %}
				{% if mapping.unpackedPrice is defined %}
					<td>
						{% if item.unpackedPrice is not null %}
							{{ item.unpackedPrice |format_currency('EUR') }}
						{% else %}
							{{ item.unpackedPrice}}
						{% endif %}
					</td>
				{% endif %}
				{% if mapping.SKU is defined %}
					<td>{{ item.SKU }}</td>
				{% endif %}
				{% if mapping.comment is defined %}
					<td>{{ item.comment }}</td>
				{% endif %}
				{% if mapping.ed is defined  %}
					<td>{{item.ed}}</td>
				{% endif %}
				{% if mapping.minOrder is defined  %}
					<td>{{item.minOrder}}</td>
				{% endif %}

				{% if mapping.customField1 is defined %}
					<td>{{ item.customField1 }}</td>
				{% endif %}
				{% if mapping.customField2 is defined %}
					<td>{{ item.customField2 }}</td>
				{% endif %}
				{% if mapping.customField3 is defined %}
					<td>{{ item.customField3 }}</td>
				{% endif %}
				{% if mapping.customField4 is defined%}
					<td>{{ item.customField4 }}</td>
				{% endif %}

			</tr>
		{% else %}
			<tr>
				<td colspan="23">{{'common.listing.no_record' | trans}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
