{% if catalogue is defined %}
	<div id="datatable" data-catalogue-id="{{catalogue.id}}">Chargement...</div>
{% else %}
	<div id="datatable">Chargement...</div>
{% endif %}


<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>

$(document).ready(function() {
	/**
	 * Convert select to array with values
	 */    
	function serealizeSelects (select)
	{
	    let string = '';
		string='&' + select.attr('name') + '=' + select.val();
	    return string;
	}

	function selectCatalogue (catId)
	{
	    let string = '';
		string='&' + 'catalogue' + '=' + catId;
	    return string;
	}

	$(function () {
		$.ajaxSetup({
			/* Send parameters to controller */
            beforeSend: function(jqXHR, settings) {

				let table = document.querySelector('#datatable');
				let catalogue = table.dataset.catalogueId;
				let searchText = $('#searchText');
				let origins = $('#origins');
				let brands = $('#brands');
				let families = $('#families');

				settings.data = settings.data+selectCatalogue(catalogue)+serealizeSelects(searchText)+serealizeSelects(origins)+serealizeSelects(brands)+serealizeSelects(families);

				return true;
            }
        }); 
		$('#datatable').initDataTables({{ datatable_settings(datatable) }}, {
			columnDefs: [
                        {width: 40, targets: 0},
                    ]
		})
		.then(function(dt) {
	    	// dt contains the initialized instance of DataTables
	    	dt.on('init', function() {
				//empty
			})
			dt.on('draw', function() {
				catchActionsButtons(); //Catch actionsButtons on all redraws (ex: page change)

				/*  Show / hide details row */
				var detailRows = [];
				// To prevent multiple subscribtions, deregister (off()) before register (on())
                $('#datatable tbody').off('click').on('click', 'tr td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = dt.row(tr);
                    var idx = $.inArray(tr.attr('id'), detailRows);

                    if (row.child.isShown()) {
                        tr.removeClass('details');
                        row.child.hide();
                        // Remove from the 'open' array
                        detailRows.splice(idx, 1);
                    }
                    else {
                        tr.addClass('details');
                        row.child(format(row.data())).show();
                        // Add to the 'open' array
                        if (idx === -1) {
                            detailRows.push(tr.attr('id'));
                        }
                    }
                });

 				function format(d) {
 				       return d.details;
 				   }
			})

			function search(text){
				dt.search(text).draw();
			}
			let timer;

			//Launch a search when value entered
			$('#searchText').keyup(function (e) {
				clearTimeout(timer);
				let text = this.value;
	    		timer = setTimeout(search, 500, text)
	    	});
			$('#searchText').change(function (e) {
				dt.search(this.value).draw();
	    	});
			//Disable enter key on search field
			$('#searchText').keydown(function (e) {
				if(e.keyCode == 13){
					e.preventDefault();
				}
	    	});

			$('#origins').change(function () {
                dt.draw();
            });
            $('#brands').change(function () {
                dt.draw();
            });
            $('#families').change(function () {
                dt.draw();
            });
		});
	});
	
});
</script>

<script src="/scripts/typeahead.js"></script>
