<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->	
		{# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> #}
		<link rel="stylesheet" href="/styles/bootstrap-flatly.min.css">
		<link rel="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css"> {# to fix icon issues for shared forms with admin/ #}

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/styles/font-awesome.min.css"/> <!-- For JS flash messages icons -->
		<link rel="stylesheet" href="/styles/flash.min.css">
		<link rel="stylesheet" href="/styles/app.css">

		<!-- Mandatory JS before page loading --> {# TODO: move this at the end or only in the requested template #}
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

		<title>
			{% block title %}DINA
			{% endblock %}
		</title>
		<meta name="description" content="À la recherche d'un magasin BIO sur Annot? Découvrez notre association de consommateurs DINA pour commander vos produits BIO chez nos producteurs locaux ou notre grossiste.">

		

		<!-- Favicons -->
		<link rel="icon" href="/favicon.png" sizes="64x64" type="image/png">
		<style>
			html {
				position: relative;
				min-height: 100%;
			}
			body {
				padding-top: 96px;
				margin-bottom: 60px; /* Margin bottom by footer height */
			}
			main{
				padding-bottom:50px;
			}
			#navbarItems{
				align-items: center;
				flex-wrap:  wrap
			}
			.footer {
				position: absolute;
				bottom: 0;
				/* Set the fixed height of the footer here */
				height: 110px;
				line-height: 60px; /* Vertically center the text there */
			}
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			.footer a{
				color:grey;					
			}
			.footer a:hover{
				color:white;					
			}

			@media (max-width: 1076px) {
			  body {
			    padding-top: 130px;
			  }
			}
			@media (max-width: 768px) {
			  body {
			 		padding-top: 96px;
			  	}
				#navbarItems{
					align-items: flex-end;
				} 
			}
			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
			@media all and (min-width: 768px) {
				.navbar .nav-item .dropdown-menu{ display: none; }
				.navbar .nav-item:hover .nav-link{ color: #fff;  }
				.navbar .nav-item:hover .dropdown-menu{ display: block; }
				.navbar .nav-item .dropdown-menu{ margin-top:0; }
			}
		</style>
		
		{% block stylesheets %}
			<!-- Custom styles for this template -->
			{# <link href="/styles/starter-template.css" rel="stylesheet"> #}

		{% endblock %}

	</head>


	<body>

		<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
			<a class="navbar-brand" href="/">DINA</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul id="navbarItems" class="navbar-nav mr-auto"> 
					{% block menubar %}{% endblock %}
				</ul>

				{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<a class="btn btn-secondary btn-sm mx-2" href="{{path('user_show_profile', {'id':app.user.id})}}">
						<span class="oi oi-person"></span>
						{{app.user.username}}</a>
					<a class="btn btn-light btn-sm" href="{{path('app_logout')}}">
						<span class="oi oi-account-logout"></span>
						{{'common.navbar.logout' | trans}}</a>
				{% else %}
					<a class="btn btn-light btn-sm" href="{{path('app_login')}}">
						<span class="oi oi-account-login"></span>
						{{'common.navbar.login' | trans}}</a>
				{% endif %}
			</div>
		</nav>


		<main role="main" class="container-fluid">
			{# Flash messages #}
			<div class="container">
				<div class="flash-message" id="flash-message">
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			</div>

			{# Body #}
			{% block body %}{% endblock %}
		</main>


		{# Footer, add 50px after body #}
		<div class="footer fixed-bottom navbar-dark" style="padding-top:50px">
			<div class="container-fluid bg-primary">
				
				<div class="row bg-primary">
					<div class="col-md"></div>
					<div class="col-sm">
						<ul
							class="list-inline text-center text-muted" style=" margin-bottom: 0px;">
							{# Force style to remove default margin-bottom 16 px } #}
							<li class="list-inline-item">
								<a href="mailto:dina04contact@gmail.com">Contact</a>
							</li>
							<li class="list-inline-item">&middot;</li>
							<li class="list-inline-item">
								<a href="{{path('help')}}">Aide</a>
							</li>
						</ul>
					</div>
					<div class="col-sm">
						<ul class="list-inline text-right text-muted" style=" margin-bottom: 0px;">
							<li class="list-inline-item"> {{ dina_version }} </li>
							<li class="list-inline-item">&middot;</li>
							<li class="list-inline-item">
								<a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">
									<img src="/agplv3-88x31.png" alt="agpl v3 logo">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js" integrity="sha512-lEb9Vp/rkl9g2E/LdHIMFTqz21+LA79f84gqP75fbimHqVTu6483JG1AwJlWLLQ8ezTehty78fObKupq3HSHPQ==" crossorigin="anonymous"></script>
		<script src="/scripts/select2.js"></script>
		<script src="/scripts/dashboard.js"></script>
		<script src="/scripts/flash.min.js"></script>

		<script src="/scripts/app.js"></script>
		<script src="/scripts/app.jQuery.js"></script>
		{% block javascripts %}
		{% endblock %}
	</body>
</html>
