<!doctype html>
<html lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/styles/app.css">

		<!-- Mandatory JS before page loading -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key={{ dropbox_app_key }}></script>

		<title>
			{% block title %}DINA
			{% endblock %}
		</title>

		{% block stylesheets %}

			<!-- Favicons -->
			<link rel="icon" href="/favicon.png" sizes="64x64" type="image/png">


			<style>
				html {
					position: relative;
					min-height: 100%;
				}
				body {
					margin-bottom: 76px; /* Margin bottom by footer height */
				}

				.footer {
					position: absolute;
					bottom: 0;
					/* Set the fixed height of the footer here */
					height: 60px;
					line-height: 60px; /* Vertically center the text there */
				}

				.bd-placeholder-img {
					font-size: 1.125rem;
					text-anchor: middle;
					-webkit-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}

				/* Surcharge style des onglets dans la vue distribution */ 
				.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
					background: #F8F9F9;
					border-bottom: 2px solid #428bca;
				}

				{# For stlylised hr #}
				hr.style-eight {
			    	overflow: visible; /* For IE */
			    	padding: 0;
			    	border: none;
			    	border-top: medium double #333;
			    	color: #333;
			    	text-align: center;
				}
				hr.style-eight:after {
			    	content: "§";
			    	display: inline-block;
			    	position: relative;
					transform: translate(-50%, -50%) rotate(90deg);
  					transform-origin: 50% 50%;	
			    	font-size: 1.5em;
			    	padding: 0 0.25em;
			    	background: white;
				}
	

				@media(min-width: 768px) {
					.bd-placeholder-img-lg {
						font-size: 3.5rem;
					}
				}
			</style>

			<!-- Custom styles for this template -->
			<link href="/styles/dashboard.css" rel="stylesheet">

		{% endblock %}

	</head>


	<body>

		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{{ path('dashboard')}}">DINA</a>

			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<a class="btn btn-info mx-2" href="{{path('user_show_profile', {'id':app.user.id})}}">{{app.user.username}}</a>
						<a class="btn btn-light" href="{{path('app_logout')}}">{{'common.navbar.logout' | trans}}</a>
					{% else %}
						<a class="btn btn-light" href="{{path('app_login')}}">{{'common.navbar.login' | trans}}</a>
					{% endif %}
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-sm-2 d-md-block bg-light sidebar">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link {% if app.request.get('_route') == 'dashboard' %}active{% endif %}" href="{{ path('dashboard')}}">
									<span data-feather="home"></span>
									{{'dashboard.navbar.dashboard' | trans}}
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if app.request.get('_route') == 'user_index' %}active{% endif %}" href="{{ path('user_index')}}">
									<span data-feather="users"></span>
									{{'dashboard.navbar.members' | trans}}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if app.request.get('_route') == 'producer_index' %}active{% endif %}" href="{{ path('producer_index')}}">
									<span data-feather="truck"></span>
									{{'dashboard.navbar.producers' | trans}}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if app.request.get('_route') == 'catalogue_index' %}active{% endif %}" href="{{ path('catalogue_index')}}">
									<span data-feather="book"></span>
									{{'dashboard.navbar.catalogues' | trans}}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if app.request.get('_route') == 'manager_item_index' %}active{% endif %}" href="{{ path('manager_item_index')}}">
									<span data-feather="box"></span>
									{{'dashboard.navbar.items' | trans}}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {% if app.request.get('_route') == 'distribution_index' %}active{% endif %}" href="{{ path('distribution_index')}}">
									<span data-feather="shopping-bag"></span>
									{{'dashboard.navbar.distributions' | trans}}
								</a>
							</li>
							{# <li class="nav-item">
								<a class="nav-link" href="#">
									<span data-feather="shopping-cart"></span>
									{{'dashboard.navbar.orders' | trans}}
								</a>
							</li> #}
						</ul>

						<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
							<span>{{'dashboard.menubar.distribution.title' | trans}}</span>
						</h6>
						<ul class="nav flex-column mb-2">
							{{ render(controller("App\\Controller\\Manager\\DistributionController::menuCurrentDistribution")) }}
						</ul>
					</div>
				</nav>


				<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
					<div class="col">
						<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
							<h1 class="h2">{{'dashboard.navbar.dashboard' | trans}}</h1>
						</div>
					</div>


					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
								{{ message }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %}
					{% endfor %}

					{% block body %}{% endblock %}
				</main>

				<div class="footer fixed-bottom navbar-dark bg-dark">
					<div class="container-fluid">
						<div class="row bg-dark">
							<div class="col-4"></div>
							<div class="col">
								<ul
									class="list-inline text-center text-muted" style=" margin-bottom: 0px;">
									{# Force style to remove default margin-bottom 16 px #}
									<li class="list-inline-item">
										<a style="color:grey;" href="{{path('help')}}">Aide</a>
									</li>
									{# <li class="list-inline-item">&middot;</li> #}
								</ul>
							</div>
							<div class="col-4">
								<ul class="list-inline text-right text-muted" style=" margin-bottom: 0px;">
									<li class="list-inline-item"> {{ dina_version }} </li>
									<li class="list-inline-item">&middot;</li>
									<li class="list-inline-item">
										<a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">
										<img src="/agplv3-88x31.png" alt="agpl v3 logo">
									</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js" integrity="sha512-lEb9Vp/rkl9g2E/LdHIMFTqz21+LA79f84gqP75fbimHqVTu6483JG1AwJlWLLQ8ezTehty78fObKupq3HSHPQ==" crossorigin="anonymous"></script>
		<script src="/scripts/select2.js"></script>
		<script>
			window.jQuery || document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"><\/script>')
		</script>
		<script src="/scripts/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
		<script src="/scripts/dashboard.js"></script>
		<script src="/scripts/fileform.js"></script>

		<script src="/scripts/app.js"></script>
		<script src="/scripts/app.jQuery.js"></script>


		{% block javascripts %}{% endblock %}

	</body>
</html>





