<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
    	{% block title %}DINA
    	{% endblock %}
    </title>


		<!-- Google Font: Source Sans Pro -->
		<link
		rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
		<!-- Font Awesome Icons -->
		<link
		rel="stylesheet" href="/AdminLTE/plugins/fontawesome-free/css/all.min.css">
		<!-- Theme style -->
    <link rel="stylesheet" href="/AdminLTE/dist/css/adminlte.min.css">

    <link rel="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.23/datatables.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/AdminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/styles/app.css">

	<style>
	@media all and (min-width: 768px) {
				aside .nav .nav-item .dropdown-menu{ display: none; }
				aside .nav .nav-item:hover .nav-link{ color: #fff;  }
				aside .nav .nav-item:hover .dropdown-menu{ display: block; }
				aside .nav .nav-item .dropdown-menu{ margin-top:0; }
			}
	</style>

    {% block stylesheets %}
    {% endblock %}

	</head>
	<body class="hold-transition sidebar-mini">
		<div
			class="wrapper">

			<!-- Navbar -->
			<nav
				class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
							<a class="nav-link" data-widget="pushmenu" data-toggle="tooltip" data-placement="top" title="Panneau latéral fixe/coulissant"  href="#" role="button">
							<i class="fas fa-bars"></i>
						</a>
					</li>
					{# <li class="nav-item d-none d-sm-inline-block">
						<a href="index3.html" class="nav-link">Home</a>
					</li>
					<li class="nav-item d-none d-sm-inline-block">
						<a href="#" class="nav-link">Contact</a>
					</li> #}
				</ul>

				<!-- Right navbar links -->
				<ul
					class="navbar-nav ml-auto">

					<!-- Messages Dropdown Menu -->
					{# <li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#">
							<i class="far fa-comments"></i>
							<span class="badge badge-danger navbar-badge">3</span>
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
							<a
								href="#" class="dropdown-item">
								<!-- Message Start -->
								<div class="media">
									<img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
									<div class="media-body">
										<h3 class="dropdown-item-title">
											Brad Diesel
											<span class="float-right text-sm text-danger">
												<i class="fas fa-star"></i>
											</span>
										</h3>
										<p class="text-sm">Call me whenever you can...</p>
										<p class="text-sm text-muted">
											<i class="far fa-clock mr-1"></i>
											4 Hours Ago</p>
									</div>
								</div>
								<!-- Message End -->
							</a>
							<div class="dropdown-divider"></div>
							<a
								href="#" class="dropdown-item">
								<!-- Message Start -->
								<div class="media">
									<img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
									<div class="media-body">
										<h3 class="dropdown-item-title">
											John Pierce
											<span class="float-right text-sm text-muted">
												<i class="fas fa-star"></i>
											</span>
										</h3>
										<p class="text-sm">I got your message bro</p>
										<p class="text-sm text-muted">
											<i class="far fa-clock mr-1"></i>
											4 Hours Ago</p>
									</div>
								</div>
								<!-- Message End -->
							</a>
							<div class="dropdown-divider"></div>
							<a
								href="#" class="dropdown-item">
								<!-- Message Start -->
								<div class="media">
									<img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
									<div class="media-body">
										<h3 class="dropdown-item-title">
											Nora Silvester
											<span class="float-right text-sm text-warning">
												<i class="fas fa-star"></i>
											</span>
										</h3>
										<p class="text-sm">The subject goes here</p>
										<p class="text-sm text-muted">
											<i class="far fa-clock mr-1"></i>
											4 Hours Ago</p>
									</div>
								</div>
								<!-- Message End -->
							</a>
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
						</div>
					</li> #}
					<!-- Notifications Dropdown Menu -->
					<li class="nav-item dropdown">
							<a class="nav-link" data-toggle="dropdown" data-toggle="tooltip" data-placement="top" title="Historique des actions" href="#">
							<i class="fas fa-history"></i>
							{# <span class="badge badge-warning navbar-badge">15</span> #}
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
							{{ render(controller("App\\Controller\\Manager\\HistoryController::index")) }}
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-widget="fullscreen" data-toggle="tooltip" data-placement="top" title="Plein écran" href="#" role="button">
							<i class="fas fa-expand-arrows-alt"></i>
						</a>
					</li>
					{# <li class="nav-item">
						<a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
							<i class="fas fa-th-large"></i>
						</a>
					</li> #}
					<li class="nav-item">
							<a class="nav-link" data-toggle="tooltip" data-placement="top" title="Se déconnecter"  href="{{path('app_logout')}}" role=" button">
							<i class="fas fa-sign-out-alt"></i>
						</a>
					</li>

				</ul>
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside
				class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="/" class="brand-link">
					<img src="/favicon.png" alt="DINA Logo" class="brand-image elevation-3" style="opacity: .8; box-shadow:none!important;">
					<span class="brand-text font-weight-light">DINA</span>
				</a>

				<!-- Sidebar -->
				<div
					class="sidebar">
					<!-- Sidebar user panel (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="image">
							<img src="/AdminLTE/dist/img/gui_user_tie_icon_157554.svg" class="img-circle elevation-2" alt="User Image">
						</div>
						<div class="info">
							<a href="{{path('user_show', {'id':app.user.id})}}">
								 {{app.user.username}}
							</a>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<nav class="mt-2">
						<ul
							class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Add icons to the links using the .nav-icon class
							               with font-awesome or any other icon font library -->
							<li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'dashboard' %}active{% endif %}" href="{{ path('dashboard')}}">
									<i class="nav-icon fas fa-tachometer-alt"></i>
									<p>
                    {{'dashboard.navbar.dashboard' | trans}}
									</p>
								</a>
							</li>
              <li class="nav-item">
                <a href="{{ path('user_index')}}" class="nav-link {% if app.request.get('_route') == 'user_index' %}active{% endif %}">
              		<i class="nav-icon fas fa-users"></i>
              		<p>
                    {{'dashboard.navbar.members' | trans}}
              		</p>
              	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'producer_index' %}active{% endif %}" href="{{ path('producer_index')}}">
                  <i class="nav-icon fas fa-truck"></i>
                  <p>
              		  {{'dashboard.navbar.producers' | trans}}
                  </p>
              	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'catalogue_index' %}active{% endif %}" href="{{ path('catalogue_index')}}">
                  <i class="nav-icon fas fa-book"></i>
                  <p>
              		  {{'dashboard.navbar.catalogues' | trans}}
                  </p>
              	</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') == 'manager_item_index' %}active{% endif %}" href="{{ path('manager_item_index')}}">
                  <i class="nav-icon fas fa-apple-alt"></i>
                  <p>
              		  {{'dashboard.navbar.items' | trans}}
                  </p>
              	</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if app.request.get('_route') == 'distribution_index' %}active{% endif %}" href="{{ path('distribution_index')}}">
                  <i class="nav-icon fas fa-shopping-bag"></i>
                  <p>
              		  {{'dashboard.navbar.distributions' | trans}}
                  </p>
              	</a>
              </li>
              <li class="nav-header">{{'dashboard.menubar.distribution.title' | trans}}</li>
              {{ render(controller("App\\Controller\\Manager\\DistributionController::menuCurrentDistribution")) }}
						</ul>
					</nav>
					<!-- /.sidebar-menu -->
				</div>
				<!-- /.sidebar -->
			</aside>

			<!-- Content Wrapper. Contains page content -->
			<div
				class="content-wrapper">
				<!-- Content Header (Page header) -->
				<div class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
                <h1 class="m-0">{% block pageTitle %}Starter Page {% endblock %}</h1>
							</div>
							<!-- /.col -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content-header -->

				<!-- Main content -->
				<div class="content">
					<div class="container-fluid">
						{# <div class="row"> #}
              				{% for label, messages in app.flashes %}
	          				    {% for message in messages %}
	          				    	<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
	          				    		{{ message }}
	          				    		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          				    			<span aria-hidden="true">&times;</span>
	          				    		</button>
	          				    	</div>
	          				    {% endfor %}
              				{% endfor %}
            			{# </div> #} <!-- /.row -->

            			{# <div class="row"> #}
              			{% block body %}{% endblock %}
						{# 	</div> #} <!-- /.row -->
					</div>
					<!-- /.container-fluid -->
				</div>
				<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->

			<!-- Control Sidebar -->
			<aside
				class="control-sidebar control-sidebar-dark">
				<!-- Control sidebar content goes here -->
				<div class="p-3">
					<h5>Title</h5>
					<p>Sidebar content</p>
				</div>
			</aside>
			<!-- /.control-sidebar -->

			<!-- Main Footer -->
			<footer
				class="main-footer">
				<!-- To the right -->
				<div class="float-right d-none d-sm-inline">
					<ul class="list-inline text-right text-muted" style=" margin-bottom: 0px;">
						<li class="list-inline-item">
							{{ dina_version }}
						</li>
						<li class="list-inline-item">&middot;</li>
						<li class="list-inline-item">
							<a href="https://www.gnu.org/licenses/agpl-3.0.fr.html">
								<img src="/agplv3-88x31.png" alt="agpl v3 logo">
							</a>
						</li>
					</ul>

				</div>
				<!-- Default to the left -->
				<ul
					class="list-inline text-center text-muted" style=" margin-bottom: 0px;">
					{# Force style to remove default margin-bottom 16 px #}
					<li class="list-inline-item">
						<a style="color:grey;" href="{{path('help')}}">Aide</a>
					</li>
					{# <li class="list-inline-item">&middot;</li> #}
				</ul>
			</footer>
		</div>
		<!-- ./wrapper -->

		<!-- REQUIRED SCRIPTS -->

    <!-- jQuery -->
    <script src="/AdminLTE/plugins/jquery/jquery.min.js"></script>

		<!-- Bootstrap 4 -->
    <script src="/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
		<!-- AdminLTE App -->
    <script src="/AdminLTE/dist/js/adminlte.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js" integrity="sha512-lEb9Vp/rkl9g2E/LdHIMFTqz21+LA79f84gqP75fbimHqVTu6483JG1AwJlWLLQ8ezTehty78fObKupq3HSHPQ==" crossorigin="anonymous"></script>
    <script src="/AdminLTE/plugins/select2/js/select2.min.js"></script>

    <script src="/scripts/select2AdminLte.js"></script>
    <script src="/scripts/fileform.js"></script>


    <script src="/scripts/app.js"></script>
    <script src="/scripts/app.jQuery.js"></script>
    {% block javascripts %}{% endblock %}

	</body>
</html>

