<div class="list-group">
<a href="{{path('help_manager_user_management')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Gestion des membres</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour ajouter, désactiver ou supprimer un utilisateur</p>
	</a>

</div>
