{%- block choice_widget_collapsed -%}
{%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
	{% set required = false %}
{%- endif -%}
<div class="input-group">
	<div class="input-group-prepend">
		<span class="input-group-text">
			<span class="oi oi-book"></span>
		</span>
	</div>

<select {{ block('widget_attributes') }} {% if multiple %} multiple="multiple" {% endif %}>
	{%- if placeholder is not none -%}
		<option value="" {% if required and value is empty %} selected="selected" {% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
	{%- endif -%}
	{%- if preferred_choices|length > 0 -%}
		{% set options = preferred_choices %}
		{% set render_preferred_choices = true %}
		{{- block('choice_widget_options') -}}
		{%- if choices|length > 0 and separator is not none -%}
			<option disabled="disabled">{{ separator }}</option>
		{%- endif -%}
	{%- endif -%}
	{%- set options = choices -%}
	{%- set render_preferred_choices = false -%}
	{{- block('choice_widget_options') -}}
</select>
</div>


{%- endblock choice_widget_collapsed -%}
