{% block form_widget_simple %}
	{%- set type = type|default('text') -%}
	{%- if type == 'range' or type == 'color' -%}
		{# Attribute "required" is not supported #}
		{%- set required = false -%}
	{%- endif -%}
	<div class="input-group">
		<div class="input-group-prepend">
			<span class="input-group-text">
				<span class="oi oi-book"></span>
			</span>
		</div>
		<input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}/>
	</div>
{% endblock %}
