{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'manager.catalogue_settings.index.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.catalogue_settings.index.page_title' | trans}}
{% endblock %}


{% block body %}
	

	<div class="card">

		<div class="card-body p-0">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>{{'manager.catalogue_settings.listing.name' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.code' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.format' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.preOrder' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.referenceLineAttributes' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.keys_strictComparison' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.keys_mapping' | trans}}</th>
						<th>{{'manager.catalogue_settings.listing.keys_alternativeMapping' | trans}}</th>
					</tr>
				</thead>
				<tbody>
					{% for catalogue in settings %}
						<tr>
							<td>{{ catalogue.name }}</td>
							<td>{{ catalogue.code}}</td>
							<td>{{ catalogue.format }}</td>
							<td>{{ catalogue.preOrder ? 'common.boolean.yes' | trans:'common.boolean.no' | trans }}</td>
							<td>
								<ul>
									{% for key in catalogue.referenceLineAttributes %}
										<li>{{ key }}</li>
									{% endfor %}
								</ul>
							</td>
							<td>{{ catalogue.keys.strictComparison ? 'common.boolean.yes' | trans:'common.boolean.no' | trans }}</td>
							<td>
								<ul>
									{% for attribute, key in catalogue.keys.mapping %}
										<li>
											{#  {% set trad = 'item.'~attribute %}
											                                    {{trad | trans({}, 'forms')}} : {{ key }} #}
											{{attribute}}
											:
											{{ key }}
										</li>
									{% endfor %}
								</ul>
							</td>
							<td>
								<ul>
									{% for attribute, key in catalogue.keys.alternativeMapping %}
										<li>
											{# {% set trad = 'item.'~attribute %}
											                            	{{trad | trans({}, 'forms')}} : {{ key }} #}
											{{attribute}}
											:
											{{ key }}
										</li>
									{% endfor %}
								</ul>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div> <!-- /.card-body -->

		<div class="card-footer">
			<a class="btn btn-secondary my-1 mr-1" href="{{ path('catalogue_index') }}">{{'common.buttons.back' | trans}}</a>
		</div>
	</div>

{% endblock %}
