<form action=" {{ path('shop_bookmark_add', {id: product.item.id} ) }}" method="post" class="btn-bookmark">
	<button class="btn btn-warning mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.bookmark' | trans}}" href="">
		<span class="oi oi-bookmark"></span>
	</button>
</form>

