<div class="card mr-4" style="max-width:300px;">
	<div class="card-header text-white text-center bg-primary">

		<h3>
			<span class="oi oi-bookmark"></span>
			{{'shop.menubar.dropdown02.bookmarks' | trans}}
		</h3>

	</div>
	<div class="card-body">
		<table class="table" id="bookmark-list">
			<tbody>
				{% for bookmark in bookmarks %}
					<tr>
						<td style="width:90px;">
							<div class="row">
								{{ render(controller("App\\Controller\\Shop\\SuggestedItemController::addFromBookmark",  { 'bookmark': bookmark })) }}
								{{ render(controller("App\\Controller\\Shop\\BasketController::addFromBookmark",  { 'bookmark': bookmark.id })) }}
							</div>
						</td>
						<td>{{ bookmark.designation }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="23">{{'shop.bookmarks.no_bookmarks' | trans}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

