<form action=" {{ path('shop_bookmark_remove', {id: bookmark.id} ) }}" class="btn-remove" method="post">
	<button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.delete' | trans}}" data-remove-url="{{ path('shop_bookmark_remove', {id: bookmark.id} ) }}" role="button">
		<span style="font-size:smaller" data-feather="trash-2"></span>
	</button>
</form>
