{% extends 'base.html.twig' %}

{% block title %}
	{{'shop.bookmarks.page_title' | trans}}

{% endblock %}

{% block menubar %}
	{{include('shop/_menubar.html.twig')}}
{% endblock %}


{% block body %}

	<div class="container">

		<div class="card " style="">
			<div class="card-header text-center border-info">
				<h3>
					<span class="oi oi-bookmark"></span>
					{{'shop.bookmarks.yours' | trans}}
				</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover mt-4">
					<thead class="thead-dark">
						<tr>
							<th>{{'common.listing.producer_name' | trans}}</th>
							<th>{{'common.listing.reference' | trans}}</th>
							<th>{{'common.listing.designation' | trans}}</th>
							<th>{{'common.listing.actions' | trans}}</th>
						</tr>
					</thead>
					<tbody>
						{% for bookmark in bookmarks %}
							<tr>
								<td>{{ bookmark.producerName }}</td>
								<td>{{ bookmark.reference }}</td>
								<td>{{ bookmark.designation }}</td>
								<td>
									{{include('shop/bookmark/_removeBookmark.html.twig')}}
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="23">{{'common.listing.no_record' | trans}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

			</div> <!-- /.card-body -->
		</div> <!-- /.card -->

	</div> <!-- /.container -->


{% endblock %}
