<!DOCTYPE html>
<html>
	<head>
		<style>
			body {
				font-family: 'Ropa Sans', sans-serif;
				margin-top: 30px;
				background-color: #F0CA00;
				background-color: #212529;
				text-align: center;
				color: #fff;
			}
			.error-heading {
				margin: 50px auto;
				width: 250px;
				border: 5px solid #fff;
				font-size: 126px;
				line-height: 126px;
				border-radius: 30px;
				text-shadow: 6px 6px 5px #000;
			}
			.error-heading img {
				width: 100%;
			}
			.error-main h1 {
				font-size: 72px;
				margin: 0;
				color: white;
				text-shadow: 0 0 5px #fff;
			}
            .error-main h2 {
				font-size: 60px;
				margin: 0;
				color: white;
			}
            .error-main p {
				font-size: 25px;
			}
		</style>
	</head>
	<body>
		<div class="error-main">
			<h1>Oops!</h1>
			<div class="error-heading">403</div>
            <h2>Accès Interdit</h2>
			<p>Vous n'avez pas la permission d'accéder à ce contenu!</p>
		</div>
	</body>
</html>

