<div class="list-group">

<a href="{{path('help_shop_basket_interface')}}" class="list-group-item list-group-item-action">
	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">L'Interface</h5>
	</div>
	<p class="mb-1">Obtenir de l'aide sur le panier</p>
</a>

<a href="{{path('help_shop_basket_errors')}}" class="list-group-item list-group-item-action">

	<div class="d-flex w-100 justify-content-between">
		<h5 class="mb-1">Erreurs de validation</h5>
	</div>
	<p class="mb-1">Obtenir de l'aide sur les erreurs remontées par le panier</p>
</a>



</div>
