{% set distribution = getDistributionInProgress() %}

<div style="width: 130px; padding-left:10px;">
	<div class="row">
		<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('extra_item_show', {'id': row.id}) }}">
			<span class="oi oi-eye"></span>
		</a>
		<a class="btn btn-primary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('extra_item_edit', {'id': row.id}) }}">
			<span class="oi oi-pencil"></span>
		</a>
		{{include('worker/sharingproposal/_addSharingProposal.html.twig')}}
	</div>
</div>
