<div class="list-group">

<a href="{{path('help_manager_distribution_cycle')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Les étapes d'une distribution</h5>
		</div>
		<p class="mb-1">Quelques explications sur les étapes d'une distribution</p>
	</a>


<a href="{{path('help_manager_distribution_new')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Créer une distribution</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour créer une distribution</p>
	</a>

<a href="{{path('help_manager_distribution_steps')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Faire avancer une distribution</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour faire avancer une distribution</p>
	</a>

<a href="{{path('help_manager_distribution_catalogues')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Ajouter / retirer des catalogues d'une distribution</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour ajouter ou retirer un catalogue d'une distributon</p>
	</a>

<a href="{{path('help_manager_distribution_sharingproposal')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Consulter / modifier la proposition de partage</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour consulter ou modifier la proposition de partage</p>
	</a>

<a href="{{path('help_manager_distribution_orders')}}" class="list-group-item list-group-item-action">

		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Consulter / modifier la commande d'un membre</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour consulter ou modifier la commande d'un membre</p>

	</a>


</div>
