<div class="list-group">

	<a href="{{path('help_shop_general_menu')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Interface &amp; Menus</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide sur l'interface et le rôle des menus</p>
	</a>

	<a href="{{path('help_shop_general_presentation')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Présentation du fonctionnement</h5>
		</div>
		<p class="mb-1">Vidéo explicative pour passer commande</p>
	</a>

</div>
