<div class="list-group">
	<a href="{{path('help_manager_item_import')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Importer des articles</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour importer des articles dans un catalogue existant</p>
	</a>

	<a href="{{path('help_manager_item_add')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">Ajouter un article</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour ajouter un article dans un catalogue</p>
	</a>

	<a href="{{path('help_manager_item_edit')}}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Modifier / Supprimer un article</h5>
		</div>
		<p class="mb-1">Obtenir de l'aide pour modifier ou supprimer un article dans un catalogue</p>
	</a>

</div>
