<div class="card-body">

	<div class="alert alert-info alert-dismissible fade show" role="alert">
		{{'user.edit_message' | trans}}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	{{ form_start(form) }}
	{{ form_widget(form) }}

</div> <!-- /.card-body -->

<div class="card-footer">
	<div class="row">

		<button class="btn btn-primary mr-1">{{ button_label|default('Save') }}</button>
		<a class="btn btn-secondary" href="{{ path('user_show_profile', {'id':user.id}) }}">{{'user.back_button' | trans}}</a>

		{{ form_end(form) }}
	</div>
</div>
