{% extends 'base.html.twig' %}

{% block title %}Item index
{% endblock %}


{% block body %}

<div class="container">

{{ form_start(form) }}
{{ form_widget(form) }}

<input type="submit"/>
{{ form_end(form) }}

</div>

{% endblock %}

