{% extends 'base.html.twig' %}

{% form_theme form.username 'customizingForms/alias.html.twig' %}

{% block title %}
	{{'user.edit_page_title' | trans}}
{% endblock %}

{% block menubar %}
	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or  is_granted('ROLE_COORDINATOR')%}
		{{include('manager/_menubar.html.twig')}}
	{% elseif is_granted('ROLE_WORKER') %}
		{{include('worker/_menubar.html.twig')}}
	{% else %}
		{{include('shop/_menubar.html.twig')}}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container">

		<div class="card">

			<div class="card-header border-info">
				<h1>{{'user.edit_title' | trans}}</h1>
			</div>

			{{ include('user/_form.html.twig', {'button_label': 'common.buttons.update' | trans}) }}

		</div>

	</div>
{% endblock %}
