{% extends 'base.html.twig' %}

{% block title %}
	{{'user.show_page_title' | trans}}
{% endblock %}

{% block menubar %}
	{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') or  is_granted('ROLE_COORDINATOR')%}
		{{include('manager/_menubar.html.twig')}}
	{% elseif is_granted('ROLE_WORKER') %}
		{{include('worker/_menubar.html.twig')}}
	{% else %}
		{{include('shop/_menubar.html.twig')}}
	{% endif %}
{% endblock %}

{% block body %}

	<div class="container">

		<div class="card">

			<div class="card-header border-info">
				<h3>
					<span class="oi oi-person"></span>
					{{'user.show_title' | trans}}
				</h3>
			</div>
			<div class="card-body ">
				<table class="table">
					<tbody>
						<tr>
							<th>{{'user.email' | trans}}</th>
							<td>{{ user.email }}</td>
						</tr>
						<tr>
							<th>{{'user.username' | trans}}</th>
							<td>{{ user.username }}</td>
						</tr>
						<tr>
							<th>{{'user.status' | trans}}</th>
							<td>{{  user.Status | getUserStatus }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="card-footer ">
				<a class="btn btn-primary" href="{{ path('user_edit_profile', {'id': user.id}) }}">{{'common.buttons.edit' | trans}}</a>
			</div>
		</div>

		{% if hasOnlyUserRole(user) %}

			<div class="card mt-4">
	
				<div class="card-header border-info">
					<h3>
						<span class="oi oi-bookmark"></span>
						{{'shop.menubar.dropdown02.bookmarks' | trans}}
					</h3>
				</div>
				<div class="card-body ">
					<a href="{{ path('shop_bookmark_index') }}">{{'user.view_bookmarks' | trans}}</a>
				</div>
			</div>
	
			
			<div class="card mt-4">
				<div class="card-header border-info">
					<h3>
						<span class="oi oi-list"></span>
						{{'shop.menubar.orders_history' | trans}}
					</h3>
				</div>
				<div class="card-body ">
					<a href="{{ path('order_index') }}">{{'user.view_orders' | trans}}</a>
				</div>
			</div>

		{% endif %}

	</div>
{% endblock %}
