{% set submit_message = 'manager.catalogue.archive.message' | trans %}

<form method="post" action="{{ path('catalogue_archive', {'id': catalogue.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ catalogue.id) }}">
    <button class="btn btn-danger" id="catalogue-update" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.archive' | trans}}" >
        <i class="fas fa-archive"></i>
    </button>
</form>
