{% set submit_message = 'manager.catalogue.archive.message' | trans %}

<form method="post" action="{{ path('catalogue_archive', {'id': catalogue.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_token" value="{{ csrf_token('archive' ~ catalogue.id) }}">
    <button class="btn btn-danger  ml-1" id="catalogue-update">
	    <i class="fas fa-archive"></i>
	    {{'common.buttons.archive' | trans}}
    </button>

</form>
