{% set submit_message = 'manager.catalogue.delete.message' | trans %}

<form method="post" action="{{ path('catalogue_delete', {'id': catalogue.id}) }}" onsubmit="return confirm('{{submit_message}}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ catalogue.id) }}">
    <button class="btn btn-danger mr-1">
	    <i class="fas fa-trash-alt"></i>
	    {{'common.buttons.delete' | trans}}
    </button>
</form>
