<!-- Mandatory JS before page loading -->
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key={{ dropbox_app_key }}></script>



<div class="card card-light">
	<div class="card-header">
		<h3 class="card-title">Informations</h3>
	</div>
	<div class="card-body">
		{{ form_start(form) }}

		{{ form_errors(form) }}

		{{ form_row(form.name) }}

		<div class="row">
			<div class="col">
				{{ form_row(form.type) }}
			</div>
			<div class="col">
				{{ form_row(form.autoArchive) }}
			</div>
		</div>


		<div class="row">
			<div class="col">
				{{ form_row(form.dropboxFile) }}
			</div>
			<div class="col">
				{{ form_row(form.spreadsheetFile) }}
				<i class="fas fa-exchange-alt"></i>
				Convertisseur de fichier .pdf en ligne:
				<a href="https://document.online-convert.com/fr/convertir-en-xlsx" target="_blank">Online-Convert</a>
			</div>
		</div>


		{{ form_row(form.comment) }}
		{{ form_row(form.status) }}

	</div>
	<!-- /.card-body -->
	<div class="card-footer">
		<div class="row">
			<button class="btn btn-primary" id={{button_id|default('catalogue-new')}}>

				<i class="fas fa-save"></i>
				{{ button_label|default('common.buttons.save' | trans) }}
			</button>
			{{ include('manager/catalogue/_modal.html.twig') }}

			{{ form_end(form) }}
			{% if workerBackButton is defined  %}
				<a class="btn btn-secondary mx-1" href="{{ path('worker_catalogue_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans}}
				</a>
			{% else %}
				<a class="btn btn-secondary mx-1" href="{{ path('catalogue_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans}}
				</a>
			{% endif %}

			{% if deleteButton is defined  %}
				{{ include('manager/catalogue/_delete_form.html.twig') }}
			{% endif %}
		</div>
	</div>
</div>
