{# Modal to prevent empty catalogue #}
<div class="modal" id="catalogue-warning" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">{{'manager.catalogue.new.modal.title' | trans}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					{% if  (app.request.get('_route') == 'worker_catalogue_new') %}
						<span class="oi oi-ban"></span>
						{{'worker.catalogue.modal.body' | trans}}
					{% elseif  (app.request.get('_route') == 'item_import') %}
						<span class="oi oi-ban"></span>
						{{'manager.catalogue.new.modal.body-upload' | trans}}
					{% else %}
						<span class="oi oi-warning"></span>
						{{'manager.catalogue.new.modal.body' | trans}}
					{% endif %}
				</p>

			</div>
			<div class="modal-footer">
				{% if  ((app.request.get('_route') == 'worker_catalogue_new') or (app.request.get('_route') == 'item_import')) %}
					<button type="button" class="btn btn-danger" id="modal-ok" data-dismiss="modal">OK</button>
				{% else %}
					<button type="submit" class="btn btn-primary">{{'common.boolean.yes' | trans}}</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">{{'common.boolean.no' | trans}}</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>
