{% if catalogue.status is constant( 'STATUS_ONLINE', catalogue) %}
<div class="custom-control custom-switch">
	<input type="checkbox" class="custom-control-input" disabled id="customSwitch2" {% if state == 1 %} checked {% endif %}  >
    <label class="custom-control-label" for="customSwitch2"></label>
</div>
{% endif %}