{% extends 'dashboard.html.twig' %}


{% block title %}
	{{'manager.catalogue.edit.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.catalogue.edit.title' | trans}}
{% endblock %}


{% block body %}
	{{ include('manager/catalogue/_form.html.twig', {'button_id':'catalogue-update' , 'button_label': 'common.buttons.update' | trans, 'deleteButton': true,}) }}
{% endblock %}

{% block javascripts %}
	<script src="/scripts/dropbox.js"></script>
{% endblock %}
