{% extends 'dashboard.html.twig' %}

{% block title %}
	{{'manager.catalogue.index.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
	{{'manager.catalogue.index.title' | trans}}
{% endblock %}


{% block body %}

	<div class="card">
		<div class="card-body p-0">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>{{'manager.catalogue.listing.name' | trans}}</th>
						<th>{{'manager.catalogue.listing.status' | trans}}</th>
						<th>{{'manager.catalogue.listing.type' | trans}}</th>
						<th>{{'manager.catalogue.listing.autoArchive' | trans}}</th>
						<th>{{'manager.catalogue.listing.comment' | trans}}</th>
						<th>{{'manager.catalogue.listing.created_at' | trans}}</th>
						<th>{{'manager.catalogue.listing.updated_at' | trans}}</th>
						<th>{{'manager.catalogue.listing.actions' | trans}}</th>
					</tr>
				</thead>
				<tbody>
					{% for catalogue in catalogues %}
						<tr>
							<td>{{ catalogue.id }}</td>
							<td>{{ catalogue.name }}</td>
							<td>
								{% if catalogue.statusName == 'online' %}
									<button type="button" disabled class="btn btn-outline-success btn-block">{{ catalogue.status | getCatalogueStatus }}</button>
								{% else %}
									<button type="button" disabled class="btn btn-outline-danger btn-block">{{ catalogue.status | getCatalogueStatus }}</button>
								{% endif %}
							</td>
							<td>{{ catalogue.type | catalogueType }}</td>
							<td>{{ include('manager/catalogue/_switch.html.twig', {'state': catalogue.autoArchive}) | raw  }}</td>
							<td>{{ catalogue.comment }}</td>
							<td>{{ catalogue.createdAt ? catalogue.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>{{ catalogue.updatedAt ? catalogue.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							<td>
								<div style="width: 130px">
									<div class="row">
										<a class="btn btn-secondary mr-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.show' | trans}}" href="{{ path('catalogue_show', {'id': catalogue.id}) }}">
											<i class="fas fa-eye"></i>
										</a>
										{% if catalogue.statusName == 'online' %}
											<a class="btn btn-primary mr-1 {% if catalogue | getLinkedDistribution is not empty %} disabled {% endif %}" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.edit' | trans}}" href="{{ path('catalogue_edit', {'id': catalogue.id}) }}">
												<i class="fas fa-pen"></i>
											</a>
											{# Archive button only if catalogue is "archivable" #}
											{% if catalogue | getLinkedDistribution is empty %}
												{{ include('manager/catalogue/_archive_form.html.twig') }}
											{% endif %}
										{% endif %}
									</div>
								</div>

							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="8">{{'common.listing.no_record' | trans}}</td>
						</tr>
					{% endfor %}
				</tbody>

			</table>
		</div>
		<!-- /.card-body -->
	
		<div class="card-footer">

			<div class="pagination justify-content-end mt-3">
				{{ knp_pagination_render(catalogues) }}
			</div>

			<div class="row ml-0 pb-4">
				<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.new' | trans}}" href="{{ path('catalogue_new') }}">
					<i class="fas fa-plus"></i>
				</a>
				<a class="btn btn-primary mx-1" data-toggle="tooltip" data-placement="top" title="{{'common.buttons.settings' | trans}}" href="{{ path('catalogue_settings') }}">
					<i class="fas fa-cog"></i>
				</a>
			</div>
		</div>
	</div>

{% endblock %}
