{% extends 'dashboard.html.twig' %}

{% form_theme form.name 'customizingForms/catalogue.html.twig' %}

{% block title %}
	{{'manager.catalogue.new.page_title' | trans}}
{% endblock %}

{% block pageTitle %}
    {{'manager.catalogue.new.title' | trans}}
{% endblock %}

{% block body %}
    {{ include('manager/catalogue/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    <script src="/scripts/dropbox.js"></script>
{% endblock %}
