{% extends 'dashboard.html.twig' %}


{% block title %}Catalogue
{% endblock %}

{% block pageTitle %}
	Catalogue
{% endblock %}


{% block body %}

	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Informations</h3>
		</div>
		<!-- /.card-header -->
		<div class="card-body p-0">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<th>Id</th>
						<td>{{ catalogue.id }}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.name' | trans}}</th>
						<td>{{ catalogue.name }}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.status' | trans}}</th>
						<td>{{catalogue.status | getCatalogueStatus}}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.show.currentLinkedDistribution' | trans}}</th>
						<td>
							<ul>
								{% for distribution_id, distribution_date in catalogue | getLinkedDistribution %}
									<li>#{{distribution_id}}
										-
										{{ distribution_date |date('d-m-Y') }}</li>
								{% else %}
									<li>{{'manager.catalogue.show.no_links' | trans}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.show.allLinkedDistributions' | trans}}</th>
						<td>
							<ul>
								{% for distribution_id, distribution_date in catalogue | getLinkedDistribution(false) %}
									<li>#{{distribution_id}}
										-
										{{ distribution_date |date('d-m-Y') }}</li>
								{% else %}
									<li>{{'manager.catalogue.show.no_links' | trans}}</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.type' | trans}}</th>
						<td>{{ catalogue.type | catalogueType}}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.extra' | trans}}</th>
						<td>{{ catalogue.extra  ? 'common.boolean.yes' | trans:'common.boolean.no' | trans}}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.autoArchive' | trans}}</th>
						<td>{{ catalogue.autoArchive  ? 'common.boolean.yes' | trans:'common.boolean.no' | trans}}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.comment' | trans}}</th>
						<td>{{ catalogue.comment }}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.spreadsheet_file' | trans}}</th>
						<td>
							{% if ((catalogue.status is constant( 'STATUS_ONLINE', catalogue)) and catalogue.spreadsheetName) %}
								{{ catalogue.spreadsheetName }}
								<a href="{{ path('catalogue_download', {'id': catalogue.id}) }}">{{'manager.catalogue.show.link' | trans}}</a>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.created_at' | trans}}</th>
						<td>{{ catalogue.createdAt ? catalogue.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
					<tr>
						<th>{{'manager.catalogue.listing.updated_at' | trans}}</th>
						<td>{{ catalogue.updatedAt ? catalogue.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					</tr>
				</tbody>

			</table>
		</div>
		<!-- /.card-body -->
		<div class="card-footer">
			<div class="row">
				<a class="btn btn-secondary mr-1" href="{{ path('catalogue_index') }}">
					<i class="fas fa-undo"></i>
					{{'common.buttons.back' | trans}}</a>
				{% if catalogue.status is constant( 'STATUS_ONLINE', catalogue) %}
					<a class="btn btn-primary " href="{{ path('catalogue_edit', {'id': catalogue.id}) }}">
						<i class="fas fa-pen"></i>
						{{'common.buttons.edit' | trans}}
					</a>
					<a class="btn btn-secondary ml-1" href="{{ path('manager_item_index', {'catalogue': catalogue.id}) }}">
						<i class="fas fa-apple-alt"></i>
						{{'manager.catalogue.show.view_items' | trans}}
					</a>
				{% endif %}
				{% if catalogue.statusName == 'online' %}
					{% if catalogue | getLinkedDistribution is empty %}
						{{ include('manager/catalogue/_archive_form2.html.twig') }}
					{% endif %}
				{% else %}
					{{ include('manager/catalogue/_delete_form.html.twig') }}
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
